[2016-11-02 18:48] dstebila opened #2 "Crashes in Ubuntu 16.10 with gcc-6"
Denis Butin wrote in an email:

I had crashes with Ubuntu 16.10, which uses GCC 6 instead of GCC 5. There may be a link with the aforementioned warnings. Taking a closer look with gdb showed a segfault that went away once I commented out the following lines:

-----------------------------------------------------------------------------
In s3_clnt.c:
               OQS_KEX_free(oqskex_kex);

[2016-12-12 08:38] paulbruedgam opened #3 "make install takes some errors"
Compiling OpenSSL with your instructions works very well, but when I started with "make install" after all other commands, I got some error.

**cp include/oqs/*.h /usr/local/ssl/include/oqs
cp: der Aufruf von stat für „include/oqs/kex_lwe_newhope.h“ ist nicht möglich: Datei oder Verzeichnis nicht gefunden
Makefile:551: recipe for target 'install_sw' failed
make: *** [install_sw] Error 1**

I tried

[2016-12-12 17:57] dstebila commented on #3
Sorry about that.  I've fixed it now in commit 3392f4d53d7ba226683d452d575514690e473312.

[2016-12-12 17:57] #3 closed

[2016-12-13 14:44] paulbruedgam commented on #3
Thanks. Now it work fine.

[2016-12-28 23:04] tlepoint opened #5 "liboqs as a submodule?"
I just realized that the liboqs code is redundant in this repository; should we add liboqs as a git submodule rather than copy/pasting all the code?

[2016-12-28 23:19] dstebila commented on #5
Originally I had put it in as a submodule, but then a few people contacted me that when they did a basic clone or download from Github, the submodule didn't get checked out with it.  I had put an instruction in the README, but still people had trouble.  So I decided to just put a copy of the code into the repository instead.

[2016-12-29 02:17] tlepoint commented on #5
Maybe instead of a submodule, we could provide a script to run after configure, or something like that?

[2016-12-30 21:57] dstebila commented on #5
Is there a specific concern you have about having the redundant code, rather than just the general software engineering principle of avoiding repetition?

[2016-12-30 22:39] tlepoint commented on #5
Not particularly... It makes weird PRs too (cf. #4 where the liboqs code is not updated).

[2016-12-31 02:06] dstebila commented on #5
Maybe we could make it part of configure?  So put it as a submodule (which is the proper thing to do) and then have configure pull the sub-module if it isn't already there?

[2017-01-12 08:52] paulbruedgam opened #7 "openssl speed invalid machine command"
When I'm running the version from today on Debian 8, I got with "openssl speed oqskex_lwe_frodo_recommended" the output:

Doing OQS KEX LWE Frodo recommended Alice 0's for 10s: Invalid machine command

All other oqskex cipher will run.

[2017-01-12 16:19] dstebila commented on #7
Can you provide some more information about the environment your running in?  Specifically exact Debian version, processor, and compiler version?  We'd need that before we can hope to diagnose the error.

[2017-01-12 18:14] paulbruedgam commented on #7
Of course. My system has a Debian 8.6 with gcc (Debian 4.9.2-10) 4.9.2. on x86_64.

[2017-01-16 18:36] Henrocker opened #8 "CHACHA20 Implementation"
Since liboqs supports the Google Ciphersuites and they are implemented in the liboqs-Library, i guess it makes sense to let this fork have the ability to use them, too!

Would this be possible?

Thanks

[2017-01-16 22:51] dstebila commented on #8
liboqs supports NewHope, but doesn't directly match the Google CECPQ1 ciphersuite.  At this point we don't have any plans to implement the CECPQ1 ciphersuite, for a variety of reasons:
- other priority for resources
- Google has discontinued their CECPQ1 experiment
- don't want to lead to a defacto standard
- no ChaCha20 implementation in the 1.0.2 release of OpenSSL

Regarding the last reason, we

[2017-01-22 02:24] smashra commented on #7
When I ran I got the following:

cat /etc/debian_version
8.7

 gcc --version
gcc (Debian 4.9.2-10) 4.9.2
Copyright (C) 2014 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

apps/openssl speed oqskex_lwe_frodo_recommended
Doing OQS KEX LWE Frodo recommended Alice 0's

[2017-01-23 00:21] dstebila commented on #7
Anything else you can provide to help us reproduce it, Paul?

[2017-02-10 09:56] Henrocker commented on #8
Hi there,

can someone give me an update on how far the migration to the 1.1.0 has come so far, or if the current 1.1.0 branch of this repository already includes the CHACHA20 suites?

Thanks

[2017-02-13 15:30] dstebila commented on #8
We haven't started on a 1.1.0 migration, and probably won't for another couple of months.  Volunteers are welcome, however.  :)

[2017-08-25 22:15] dstebila opened #10 "Docker images for benchmarking"
It would be nice to have a Docker image for automatic benchmarking of liboqs-based ciphersuites in this OpenSSL fork.

[2017-10-05 01:34] christianpaquin opened #12 "New OQS breaks the build"
Latest OQS update breaks the OpenSSL build. "./config" results in the following error:

cd vendor/liboqs && make links
make[1]: Entering directory '/mnt/c/temp/openssl/vendor/liboqs'
make[1]: *** No rule to make target 'links'.  Stop.
make[1]: Leaving directory '/mnt/c/temp/openssl/vendor/liboqs'
Makefile:451: recipe for target 'links' failed
make: *** [links] Error 2

The config script shouldn't

[2017-10-05 13:08] smashra commented on #12
As far as I can see this problem exists in the main (OpenSSL_1_0_2-stable)
branch too.

It's happening because Makeifle doesn't exist under vendor/liboqs because
autoreconf is  not called.
It gets called when make is called.

On Wed, Oct 4, 2017 at 9:34 PM, Christian Paquin <notifications@github.com>
wrote:

[2017-10-05 13:26] christianpaquin commented on #12
I noticed. Do you see an easy fix? Put a dummy makefile in OQS or modify openssl's config script?

On Oct 5, 2017, at 9:09 AM, smashra <notifications@github.com<mailto:notifications@github.com>> wrote:

As far as I can see this problem exists in the main (OpenSSL_1_0_2-stable)
branch too.

It's happening because Makeifle doesn't exist under vendor/liboqs because
autoreconf is not called.
It gets c

[2017-10-05 13:29] smashra commented on #12
Looking into it.

On Thu, Oct 5, 2017 at 9:26 AM, Christian Paquin <notifications@github.com>
wrote:

[2017-10-11 16:31] s24mishra commented on #12
Fix is available under liboqs_update branch.

[2017-10-29 17:37] smashra commented on #12
make depend ;make test now work fine.
make test is not causing the liboqs to rebuild it's only calling autoreconf -i;./configure;make but actually not building because it figures the build has already happened, if not, then only it actually builds.

[2017-11-01 09:17] ashutoshtekriwal opened #13 "openssl client/server issue when using OQS cipher suite"
I have created an client/server application to establish ssl session via certificates.

Client.c
###############
#include <stdio.h>
#include <errno.h>
#include <unistd.h>
#include <malloc.h>
#include <string.h>
#include <sys/socket.h>
#include <resolv.h>
#include <netdb.h>
#include "ssl.h"
#include "err.h"
#include "crypto.h"
#include "apps.h"
#include "ssl.h"
#include "s_apps.h"
#define FAIL    -

[2017-11-14 03:43] #13 closed

[2018-01-26 21:33] kevinmkane commented on #12
I'm seeing this issue on the current HEAD of OpenSSL_1_0_2-stable and liboqs_update, which is commit 608bc3a8 and a fix for this issue.

I'm seeing this output from a './config shared && make' on an Ubuntu 16.04 machine:

make[1]: Entering directory '/home/kkane/src/walrus/walrus/openvpn/build/repos/openssl-oqs/vendor/liboqs'
/bin/mkdir -p include/oqs
cp -f src/common/common.h include/oqs
cp: 'src

[2018-01-30 14:58] dstebila commented on #12
Hi Kevin, we just tried rebuilding as well and didn't encounter any problems.  I'll close the comment, but please do follow up if you encounter any more trouble.

[2018-01-30 14:58] #12 closed

[2018-05-12 21:20] Afraz496 opened #28 "There's an error in make on ssl3.h"
<img width="696" alt="screenshot 2018-05-12 22 19 01" src="https://user-images.githubusercontent.com/24629174/39961641-9b8be9ea-5632-11e8-896b-db84f59ac226.png">

[2018-05-12 21:20] Afraz496 commented on #28
Changing it to KEX introduces ~10 more bugs

[2018-05-12 21:37] Afraz496 commented on #28
Sorry, didn't read the branch-specific README

[2018-05-12 21:37] #28 closed, assigned to nobody

[2018-07-09 18:26] dstebila commented on #8
This is a long dormant issue. But I can now report that we have an initial release of the 1.1.1 migration; it's in the repository under the OQS-master branch.  It has hybrid post-quantum key exchange in TLS 1.3 for selected post-quantum algorithms.  Since TLS 1.3 allows mixing and matching of key exchange methods with ciphers, one could use ChaCha20 as the cipher.

[2018-07-09 18:28] dstebila commented on #5
In both our current OpenSSL branches (OQS-master and OQS-OpenSSL-1_0_2-stable), the source code of liboqs is not duplicated, nor is it a git subtree / submodule, instead liboqs would be built by the developer as a dependency and then pointed to at OpenSSL configure time.

[2018-07-09 18:28] #5 closed

[2018-07-09 18:35] dstebila commented on #7
Closing old issue.

[2018-07-09 18:35] #7 closed

[2018-07-09 18:35] dstebila commented on #2
Closing old issue.

[2018-07-09 18:35] #2 closed

[2018-09-26 15:26] dstebila opened #35 "Add OQS KEM and SIG algorithms to openssl speed on OQS-OpenSSL_1_1_1-stable branch"

[2018-09-26 21:49] christianpaquin opened #36 "Add Travis build for OQS-OpenSSL"
Provide CI testing for the OQS fork

[2018-10-18 15:13] Coen-Schuijt commented on #10
Please take a look at https://github.com/Coen-Schuijt/liboqs-benchmarks

[2018-10-18 21:22] christianpaquin commented on #36
@smashra, are you planning to update the scripts you circulated on the dev mailing list yesterday?

[2018-10-18 21:29] smashra commented on #36
Yes. Now that we have test repository I’ll be checking in there.

On Thu, Oct 18, 2018 at 5:26 PM Christian Paquin <notifications@github.com>
wrote:

[2018-10-18 21:57] christianpaquin opened #40 "make test fails"
"make test" fails on OQS-OpenSSL_1_1_1-stable (and not on the upstream's OpenSSL_1_1_1-stable branch)

[2018-10-19 03:24] christianpaquin commented on #40
"make test" failures:
../test/recipes/70-test_clienthello.t            (Wstat: 256 Tests: 1 Failed: 1)
  Failed test:  1
  Non-zero exit status: 1
../test/recipes/99-test_fuzz.t                   (Wstat: 256 Tests: 11 Failed: 1)
  Failed test:  5
  Non-zero exit status: 1

[2018-10-20 00:29] christianpaquin commented on #40
Fixed in PR #41.

[2018-10-22 17:53] dstebila commented on #40
Resolved by #41

[2018-10-22 17:53] #40 closed, assigned to christianpaquin

[2018-10-22 17:55] dstebila commented on #10
Hi Coen-Schuijt! Thanks for doing this -- looks really great!  This week we're all focused on getting a release out the door, but we'll be able to take a look at that starting next week.

[2018-10-23 04:15] dstebila opened #42 "Some BIKE ciphersuites not reliable in TLS 1.3"
Some BIKE ciphersuites (e.g., bike2l1, bike2l3, bike2l5, bike3l1, bike3l3, bike3l5) are not reliable for me in TLS 1.3 on my Mac.  About 50% of the time, the connection goes through, and 50% of the time I get the following error:

[code]

I'm not sure what the problem is.

Any ideas, @christianpaquin?

[2018-10-23 04:22] dstebila opened #43 "Update README.md for OQS-OpenSSL_1_0_2-stable"

[2018-10-23 14:33] christianpaquin commented on #42
I'll take a look

[2018-10-23 19:25] christianpaquin commented on #42
I only get errors with the bike2* algs, this is the failing code from src/kem/bike/x86_64/kem.c :
`// Check if error weight equals T1:`
`if (getHammingWeight(e, 2 * R_BITS) != T1)`

I'm investigating to see if it's a problem with the OQS implementation or the call from OpenSSL.

[2018-10-24 00:09] christianpaquin commented on #42
I can only repro the bug with the bike v2 schemes; they fail roughly 50% of the time. I can't repro in OQS alone, so there must be something in the way OpenSSL invokes it (or perhaps a circular dependency from OpenSSL to OQS to OpenSSL?) I reviewed the calls from OpenSSL into OQS, and I can't find an error; per the above comment, the hamming weight seems to be different some times. I don't underst

[2018-10-24 18:08] Shay-Gueron commented on #42
Here are some thoughts for now:
Since the problem appeared only with BIKE2 and only on a MAC OS (i.e., what's running is the C reference code and not the assembler), it seems that the issue is with how the BIKE2 keys are handled.

As an algorithm, BIKE2 has a shorter (half size) key compared to BIKE1/BIKE3. For consistency (with the KAT's) the reference code extends (artificially) the keys in the

[2018-10-24 18:27] christianpaquin commented on #42
FYI, I encountered the same behavior on Ubuntu 16.04.5 LTS using gcc. Repro steps:

Follow the README.md instructions in the [OQS-OpenSSL_1_1_1](https://github.com/open-quantum-safe/openssl/tree/OQS-OpenSSL_1_1_1-stable) branch to:
1.  build liboqs (master).
2. generate a test cert: `apps/openssl req -x509 -new -newkey rsa -keyout rsa.key -out rsa.crt -nodes -subj "/CN=oqstest" -days 365 -config a

[2018-10-25 20:11] dstebila commented on #42
Thanks for looking into it Shay!

[2018-10-26 15:42] Shay-Gueron commented on #42
We believe that we found the problem.
The short story: it is due to a changed behavior of OpenSSL, between version 1.0.2 to version 1.1.0. Specifically, the function BN_GF2m_mod_inv(a, p) changed its behavior (changes from May 2018).

The detailed explanation:
(if you wish to skip the details scroll down to the solution)
1.	Recall that the problem occurs in BIKE2. BIKE2 differs from BIKE1 and BIKE

[2018-10-26 17:33] christianpaquin opened #45 "Enable liboqs nist-branch with OpenSSL 1.1.1"
Currently, the OQS-OpenSSL_1_1_1-stable branch only supports liboqs's master. Enable using the nist-branch.

[2018-10-26 17:35] christianpaquin commented on #45
Strategy for v0.1.0: use a define in oqs's config to detect the version/branch (see [oqs PR429](https://github.com/open-quantum-safe/liboqs/pull/429)), and ifdef the openssl functionality accordingly. For the following release, we could enable/disable each algorithm based on their define macros.

[2018-10-26 17:56] dstebila commented on #45
The version based approach makes sense.  Once 429 and the corresponding master branch code land, we can do the code here.

For the following release, enabling/disabling each algorithm based on their define macros still wouldn't be enough I think, because the same macro may indicate the presence of e.g. Picnic in both master and nist, but they still use different APIs.

[2018-10-26 18:12] christianpaquin commented on #45
Yes, the per-algorithm macro wouldn't be sufficient; we'd still need a nist vs master branch define. They would however help to detect if an optional alg is enabled (e.g. bike).

[2018-10-26 18:15] dstebila commented on #45
Oh yes, that makes sense.  I thought we were already doing that, but if not, we should.

[2018-10-26 18:53] christianpaquin commented on #45
PR #46 enables the above-mentioned strategy.

[2018-10-26 19:00] christianpaquin commented on #36
I tried to enable travis on OpenSSL, but I can't figure out how. I logged in travis but the open-quantum-safe projects were not listed in the list of projects I could travis-enable. It might be because I don't have the right github ownership/permissions for this project? @smashra, @dstebila; can one of you can try to turn on travis? The OpenSSL project already has a travis test suites (and also an

[2018-10-26 19:48] dstebila commented on #36
I've turned Travis on for this repository.

@smashra and I were discussing whether/how to trigger OpenSSL/OpenSSH integration tests when just a liboqs commit is made.  I noticed in the Travis settings it's possible to set a cron job to regularly build a repository.  But also we might want to add Travis target(s) in each of the liboqs master and nist .travis.yml files that runs the integration test

[2018-10-27 18:13] dstebila commented on #42
Resolved by open-quantum-safe/liboqs#430 and open-quantum-safe/liboqs#431.

[2018-10-27 18:13] #42 closed, assigned to nobody

[2018-10-31 18:54] dstebila commented on #45
I've merged PR #46.  One thing I noticed that was missing (but I didn't want to block the merge) was that there's no OQS_DEFAULT curve in the list of supported curves. Can we add one?  OQS_DEFAULT is the only way to map on to the additional KEMs in nist-branch that are not exposed as named algorithms in OpenSSL.

[2018-10-31 18:55] dstebila commented on #45
@smashra Since PR #46 has landed, you can now update the integration testing script to have the OpenSSL 1.1.1 + nist-branch configuration.

[2018-10-31 19:38] christianpaquin commented on #45
Yes, I can add OQS_DEFAULT; I'll also update the README and see if I can add the other nist-branch algs. I'll work on it tonight (after the Halloween celebrations :))

[2018-11-01 04:00] christianpaquin commented on #45
I started to work on a new PR adding OQS_DEFAULT, but it's taking longer than expected because I'm also adding the other nist-branch KEMs. I'll finish and push it tomorrow

[2018-11-01 16:46] christianpaquin commented on #45
See PR #47 adding OQS_DEFAULT and nsit-branch KEMs.

[2018-11-05 16:28] dstebila commented on #45
Resolved by #47.

[2018-11-05 16:28] #45 closed, assigned to christianpaquin

[2018-11-06 09:40] thomwiggers opened #48 "Building fails"
I'm getting a whole bunch of errors like

[code]

[2018-11-06 20:54] christianpaquin commented on #48
Addressed by PR #51.

[2018-11-07 00:39] dstebila commented on #43
Done in 9c371c33d25c2ffc9c537220e556dd04ee54986c

[2018-11-07 00:39] #43 closed, assigned to dstebila

[2018-11-07 14:14] #48 closed, assigned to christianpaquin

[2018-11-07 18:31] christianpaquin opened #52 "OpenSSL 1.0.2 build failure on Windows"
First error is that `oqs/oqs.h` can't be found while building `ssl3.h`.

[2018-11-07 22:34] christianpaquin commented on #52
Fixed by PR #53.

[2018-11-08 00:03] smashra commented on #52
Openssl build is getting error on mac:
=============
gcc  -Iinclude -pthread -m64 -fPIC -DNDEBUG  -MMD -MF fuzz/asn1.d.tmp -MT
fuzz/asn1.o -c -o fuzz/asn1.o fuzz/asn1.c
gcc  -Iinclude -pthread -m64 -fPIC -DNDEBUG  -MMD -MF
fuzz/test-corpus.d.tmp -MT fuzz/test-corpus.o -c -o fuzz/test-corpus.o
fuzz/test-corpus.c
engines/e_afalg.c:24:10: fatal error: 'linux/version.h' file not found
#include <linux/

[2018-11-08 02:06] dstebila commented on #52
I can't reproduce the error you experienced, @smashra: it builds fine for me on my Mac.

[2018-11-08 02:06] #52 closed, assigned to christianpaquin

[2018-11-08 13:17] smashra commented on #52
Apologies, my bad.

There is no problem.

On Wed, Nov 7, 2018 at 9:06 PM Douglas Stebila <notifications@github.com>
wrote:

[2018-11-08 22:15] christianpaquin opened #58 "Can't build Windows DLL target on 1.0.2"
Running `nmake -f ms\ntdll.mak` (instead of `nt.mak`, as described in the README.md) fails; many `unresolved external symbol OQS_KEM_*` errors. liboqs must be correctly linked in this makefile to fix this.

[2018-11-09 04:27] dstebila commented on #58
Is this blocking for release?

[2018-11-09 13:43] christianpaquin commented on #58
It's highly desirable. The issue is that the Windows support code from the OpenSSL_1_0_2-stable branch has not been ported to the OQS-... branch. I should be able to address that today; if not, I'll update the README to say the DLL target isn't supported.

[2018-11-09 13:47] thomwiggers opened #59 "Figure out how to integrate KEMs into EVP layer"
For much easier use, KEMs should probably be integrated in the EVP framework. I did some experiments, and I now do have a [certified Kyber 512 public key](https://gist.github.com/thomwiggers/403a42d32ca5f1d90e2a7c506f54ac09).

This should then be useful to consider OPTLS-like setups.

The challenge of course is `EVP_PKEY_derive` being almost but not quite suitable for this task. I have not tackled

[2018-11-09 13:51] thomwiggers commented on #59
See https://github.com/thomwiggers/openssl/tree/KEM-cert by the way.

[2018-11-09 15:13] christianpaquin commented on #58
PR #60 fixes this. 1.0.2 should be ready for RC3

[2018-11-09 22:17] dstebila commented on #58
Resolved by #60

[2018-11-09 22:17] #58 closed, assigned to christianpaquin

[2018-11-12 15:41] dstebila commented on #59
Hi Thom,

Very interesting approach.  Indeed having KEMs in EVP would make it easier for OPTLS and static DH like approaches.  But TLS 1.3 dropped both of those in favour of signatures+ephemeral-DH, so would you then want to add that back in to TLS 1.3?

[2018-11-13 08:51] thomwiggers commented on #59
Well, it should be possible to use KEMs with HelloRetryRequest and the OPTLS extension internet draft. I'd also like to look into what a TLS 1.2-like 1.5-RTT OPTLS protocol with pq KEMs would behave like.

[2018-11-13 08:52] thomwiggers commented on #59
On the OpenSSL side I opened an issue (https://github.com/openssl/openssl/issues/7616) to discuss if they are interested in specifying a proper EVP API which would allow OQS to implement KEMs without too many hacks.

[2018-11-15 08:12] thomwiggers commented on #59
FYI: In my branch I've since added `EVP_PKEY_encapsulate` and `EVP_PKEY_decapsulate`.

[2018-11-20 16:32] christianpaquin opened #63 "Sync OQS-OpenSSL_1_1_1-stable with new 1.1.1a release"
Merge our depot with the latest [OpenSSL release](https://www.openssl.org/news/openssl-1.1.1-notes.html)

[2018-11-20 17:04] christianpaquin commented on #63
Fixed in PR #64

[2018-11-21 17:19] dstebila opened #65 "Sync OQS-OpenSSL_1_0_2-stable with new 1.0.2q release"

[2018-11-21 20:16] dstebila commented on #10
Sorry for the delay in getting back to you.  We finished our release last week and are now ready to work on the next phase. Getting Docker images for testing a variety of things -- including benchmarking -- is next for us.  My colleague Shravan @smashra is taking the lead for us on this right now.  I've asked Shravan to take a look at this and follow up.

[2018-11-21 22:17] #63 closed, assigned to christianpaquin

[2018-11-21 22:19] dstebila commented on #59
I looked at your last few commits and see that you've added the `EVP_PKEY_encapsulate` and `EVP_PKEY_decapsulate` methods, and that you've started to put them into the ClientKeyExchange messages.  How's that going?  Have you successfully done a key exchange with that yet?

In the long term, will those be raw KEM public keys, or will they be certified?  If so I guess we'd need a mechanism to genera

[2018-11-22 07:49] thomwiggers commented on #59
I've not yet had time to check how and to what extent things will burst into flames when I first run it, but that is one of the things that I was hoping to pick up today. The plan is to have the client encapsulate to the public key that's in the certificate, and then do HMAC instead of a signature (like OPTLS).

"A mechanism to generate X.509 keys" turned out to be easier than I'd first thought: I

[2018-12-11 21:03] dstebila opened #67 "Add ThreeBears key exchange from nist-branch"
Add KEMs from open-quantum-safe/liboqs#445

[2018-12-12 20:50] christianpaquin opened #68 "Failed to issue server cert from root CA cert"
We should be able to generate a server cert issued by a root CA using these instructions:

1. Create self-signed root CA
`./apps/openssl req -x509 -new -newkey qteslaI -keyout rootCA.key -out rootCA.crt -nodes -subj "/CN=rootCA" -days 365 -config apps/openssl.cnf`
2. Create a private key for the server:
`./apps/openssl genpkey -algorithm qteslaI -out server.key`
3. Create a key and CSR for the ser

[2018-12-17 19:31] christianpaquin commented on #68
Failing function is `ASN1_item_verify` in `a_verify.c`. It fails to locate the OQS alg, because they are not registered in the `sigoid_srt` array in `obj_xref.h`, and therefore the `OBJ_find_sigid_by_algs` function call fails. This is only triggered when dealing with chained cert issuance, a scenario not yet coverered in our unit tests; we'll need to add one.

Working on a fix.

[2018-12-20 19:24] dstebila commented on #68
Resolved by PR #69.

[2018-12-20 19:24] #68 closed, assigned to christianpaquin

[2018-12-20 19:25] dstebila opened #70 "Document generating PQ/hybrid CA chains"
Document the examples from issue #68, either in README.md or in the wiki.

Should we also add this to the integration tests?

[2018-12-20 19:42] dstebila commented on #36
This is being handled by open-quantum-safe/testing#9.

[2018-12-20 19:42] #36 closed, assigned to christianpaquin

[2018-12-20 20:58] christianpaquin commented on #70
Yes, it would be helpful to add this to the integration tests (since we now know it triggers different code paths in OpenSSL)

[2018-12-20 22:43] #70 closed, assigned to christianpaquin

[2019-03-20 16:55] dstebila commented on #65
Obsoleted by e259b93b42b8d866fbe743c5cc48c393be1fbb21.

[2019-03-20 16:55] #65 closed, assigned to nobody

[2019-03-21 23:35] dstebila opened #79 "Error creating hybrid certificates with qTesla"
When using liboqs-master with OQS-OpenSSL-1_1_1_stable, key generation fails for the combinations: `rsa3072_qteslaI`, `p384_qteslaIIIsize`, `p384_qteslaIIIspeed`.  See https://circleci.com/gh/open-quantum-safe/testing/127 or https://circleci.com/gh/open-quantum-safe/testing/128.

[2019-03-27 01:51] #79 closed, assigned to christianpaquin

[2019-03-27 11:35] ghost opened #81 "Need help to compile - OQS_KEM_bike3_l1_ossl_add errors"
Hi'!
I need help, when I type in @ terminal: "make -j"

...then I got a few errors:

How can I fix that?

licit-function-declaration]
  if (BN_GF2m_add(r, a, b) == 0) {
      ^~~~~~~~~~~
      BN_mod_add
ref//openssl_utils.c:86:13: error: implicit declaration of function ‘BN_GF2m_mod_inv’; did you mean ‘BN_nist_mod_func’? [-Werror=implicit-function-declaration]
   inv_res = BN_GF2m_mod_inv(r, a, m

[2019-03-27 12:26] ghost commented on #81
don't work with NIST-branch:

both:
make install NO_SHARED=1 PREFIX=/usr/local/ssl/oqs
or
make install-noshared PREFIX=/usr/local/ssl/oqs

mkdir -p /usr/local/ssl/oqs/include
mkdir -p /usr/local/ssl/oqs/lib
rm -f -r /usr/local/ssl/oqs/include/oqs
rm -f /usr/local/ssl/oqs/lib/liboqs.a
rm -f /usr/local/ssl/oqs/lib/liboqs.so
cp -r include/oqs /usr/local/ssl/oqs/include
cp liboqs.a /usr/local/ssl/oqs/

[2019-03-27 12:32] cokeflash commented on #81
liboqs.a   is missing, whre to find it?

[2019-03-27 12:32] ghost commented on #81
liboqs.a  is missing, where to find it?

[2019-03-27 13:37] christianpaquin commented on #81
liboqs.a is the OQS library needed by the OpenSSL fork; did you install it? See [step 2](https://github.com/open-quantum-safe/openssl#step-2-build-liboqs) of the readme.

[2019-03-30 11:44] ghost commented on #81
I did Step 1, then at Step 2, error message, liboqs is missing at compile.

Must I install the OpenSSL Fork first, then compile and install the OQS library?

[2019-04-01 12:57] christianpaquin commented on #81
Step 2 builds liboqs, so I don't understand how you are getting a "missing liboqs" error at that point. Can you write down all the commands you are inputing, on a fresh enlistment, to see where the issue it?

[2019-04-05 11:44] cokeflash commented on #81
I did: (in Fedora)

open TERMINAL

navigate to home folder...

create a folder called: "INSTALL"

su -

'Step 1'
#
git clone --branch OQS-OpenSSL_1_1_1-stable https://github.com/open-quantum-safe/openssl.git

'Step 2' [Master Branch]
#
git clone --branch master https://github.com/open-quantum-safe/liboqs.git

cd liboqs

autoreconf -i

mkdir /usr/local/ssl

./configure --prefix=/usr/local/ssl/oqs -

[2019-04-05 11:46] ghost commented on #81
I did: (in Fedora)

open TERMINAL

navigate to home folder...

create a folder called: "INSTALL"

su -

'Step 1'

git clone --branch OQS-OpenSSL_1_1_1-stable https://github.com/open-quantum-safe/openssl.git

'Step 2' [Master Branch]

git clone --branch master https://github.com/open-quantum-safe/liboqs.git

cd liboqs

autoreconf -i

mkdir /usr/local/ssl

./configure --prefix=/usr/local/ssl/oqs --e

[2019-04-05 13:57] christianpaquin commented on #81
When building OQS, the configure's `prefix` value must point to the OpenSSL source directory (wherever you cloned it), not its final install location. So you should have something like:

`./configure --prefix=~/openssl/oqs --enable-shared=no --enable-openssl --with-openssl-dir=/usr/local/ssl`

This should allow OpenSSL to build correctly (it assumes the `oqs` installed dir is in its root source di

[2019-04-05 16:30] ghost commented on #81
ah :-) ok, I will try it out tomorrow. Thanks.

[2019-04-06 10:51] ghost commented on #81
# ./configure --prefix=~/openssl/oqs --enable-shared=no --enable-openssl --with-openssl-dir=/usr/local/ssl

configure: error: expected an absolute directory name for --prefix: ~/openssl/oqs

In the Final-Branch source-folder of OpenSSL Quantum is no 'oqs' folder inside...

[2019-04-06 22:40] christianpaquin commented on #81
You need to specify the absolute directory, instead of using the `~` shortcut: use `--prefix=/home/<yourusername>/openssl/oqs` (if that's where you cloned the repository)

[2019-04-07 17:50] ghost commented on #81
ok, that worked:

./configure --prefix=/home/uSEr1/openssl/oqs --enable-shared=no --enable-openssl --with-openssl-dir=/usr/local/ssl

then I typed: su -
then I typed: make -j

Terminal_output_error:

ref//openssl_utils.c:59:6: error: implicit declaration of function ‘BN_GF2m_mod_mul’; did you mean ‘BN_mod_mul’? [-Werror=implicit-function-declaration]
  if (BN_GF2m_mod_mul(r, a, b, m, bn_ctx) == 0)

[2019-04-09 13:17] dstebila opened #84 "Move OpenSSL integration tests to OpenSSL repository"
Also set it up so that it builds the current branch, not just master

[2019-04-09 15:05] christianpaquin commented on #81
I suppose you have openssl installed on the system? (we have a bit of a circular dependency here, some OQS schemes depend on OpenSSL, and our OpenSSL fork depends on OQS). You need to install all the dependecies described in Step 0, i.e., do the Fedora equivalent of: `sudo apt install autoconf automake gcc libtool libssl-dev make unzip xsltproc`.

[2019-04-13 13:27] ghost commented on #81
I have all dependencies installed. Which OpenSSL version should I install? The OpenSSL fork right?

[2019-04-13 19:02] dstebila commented on #84
Resolved by 7d523412392797c797745292fbb9594dfadb0a09 and 81f17d85aad3dc847761804d063a9351ef15972b.

[2019-04-13 19:02] #84 closed, assigned to dstebila

[2019-04-14 10:00] ghost commented on #81
I tried out this @ OpenSSL fork:

git clone --branch OQS-OpenSSL_1_1_1-stable https://github.com/open-quantum-safe/openssl.git
cd openssl
./Configure no-shared linux-x86_64 -lm

after 'make j'

error:
In file included from include/openssl/x509.h:18,
                 from apps/apps.h:26,
                 from apps/s_cb.c:14:
include/openssl/evp.h:18:11: fatal error: oqs/oqs.h: No such file or direc

[2019-04-14 10:02] ghost commented on #81
Must I install at first the standard OpenSSL version, then OQS lib and then the OpenSSL fork?

[2019-04-14 10:12] ghost commented on #81
...with standard OpenSSL version 1.1.1.b I had no erros to compile.

[2019-04-15 12:43] christianpaquin commented on #81
So, you got it to work?

[2019-04-15 17:10] ghost commented on #81
yes :-) got it now.

[2019-04-15 17:12] ghost commented on #81
installed first:  OpenSSL 1.1.1b
then: OQS lib
then: OpenSSL 1.1.1 stable FORK

[2019-04-15 17:13] christianpaquin commented on #81
Glad you got it to work.

[2019-04-15 17:13] #81 closed, assigned to nobody

[2019-04-22 14:08] ghost opened #85 "Question about update OpenSSL in Package-Manager after compile OpenSSL Quantum"
Hi!

Can I easily update the following OpenSSL packages in my package-manager after compiling OpenSSL Quantum myself and installed it.

My package-manager shows me new updates of:
- openssl
- openssl-devel
-openssl-libs
-openssl-pkcs11

Or I always have to compile and install updates of OpenSSL Quantum myself?
Not that I'm overwriting OpenSSL Quantum.

[2019-04-23 15:08] christianpaquin commented on #85
Given the experimental nature of the post-quantum cryptography integration, developers must currently build and deploy the OpenSSL fork manually.

[2019-05-01 13:48] #85 closed, assigned to nobody

[2019-05-31 21:11] geovandro opened #89 "TLS demo apparently fails to use a post-quantum cipher"
I've tried to run the [TLS demo](https://github.com/open-quantum-safe/openssl#tls-demo) on both Ubuntu and MacOS using the pure post-quantum certificate option for the CA and the server.

When I run the client app to establish a connection based on post-quantum kex ciphers like bike1l1 or sike503, the cipher suite is getting set to TLS_AES_256_GCM_SHA384. Here is what it shows:

"No client certifi

[2019-06-01 01:10] christianpaquin commented on #89
I assume you are on branch OQS-OpenSSL_1_1_1-stable, correct?

[2019-06-01 06:53] geovandro commented on #89
That's correct. Am I just misinterpreting the cipher name? I tried a classical kex as well such as the elliptic curve p256 and the same TLS_AES_256_GCM_SHA384 cipher is shown.

[2019-06-03 17:13] christianpaquin commented on #89
Things are a bit different for the TLS 1.3: the key exchange and signature algs are not specified in the cipher suite to avoid an explosion of such identifiers (like in TLS 1.2). Instead, there are separate messages to define the curve used for ECDHE, and the signature algorithm for auth.

The prototype post-quantum algorithms are not formally specified, so our implementation masquerade them as "c

[2019-06-04 02:15] geovandro commented on #89
Right. I appreciate the clarifications, @christianpaquin!
Please, disregard my first comment. Only the second comment about the sizes of the public keys should be changed to bytes in the output message.

Tks!

[2019-06-04 02:15] #89 closed, assigned to christianpaquin

[2019-06-04 13:58] christianpaquin opened #90 "s_client misreports OQS pubkey size"
On 1.1.1, s_client prints out OQS pub key sizes in bytes, rather than in bits.

[2019-06-04 13:59] christianpaquin commented on #89
I opened issue #90 to track the bit/byte size mis-reporting.

[2019-06-05 16:44] dstebila opened #92 "Why aren't CircleCI tests being run?"

[2019-06-05 22:47] #90 closed, assigned to christianpaquin

[2019-06-06 15:23] dstebila commented on #92
CircleCI wasn't turned on for forks; fixed and working now.

[2019-06-06 15:23] #92 closed, assigned to dstebila

[2019-06-19 02:17] dstebila commented on #67
NIST branch is being deprecated.  ThreeBears will be added to OQS-OpenSSL when the round 2 version of ThreeBears gets added to liboqs master branch.

[2019-06-19 02:17] #67 closed, assigned to nobody

[2019-06-21 18:44] Scarjit opened #96 "run.sh failes. OQS_KEM_alg_newhope_1024_cca_kem undeclared"
Good evening,
i just tried to build your openssl fork using the run.sh in ops_test.
It downloads liboqs just fine, compiles it (without any obvious error) and then tries to compile openssl.
Here it fails with the following errors:

[code]

Iv included the full log as a gist. (Please note, that i omitted the clone script, since my internet is very slow. I have however used `make clean` in both the

[2019-06-21 19:58] xvzcf commented on #96
This is being addressed by https://github.com/open-quantum-safe/openssl/pull/95.

[2019-06-24 10:05] jaimesaez97 opened #97 "Error in $ make -j"
I receive an error
on the OpenSSL fork built `$ make -j` execution:

![error2](https://user-images.githubusercontent.com/33544051/60010523-40dd5600-9678-11e9-94fb-cc95cb84efdd.PNG)
![error1](https://user-images.githubusercontent.com/33544051/60010522-40dd5600-9678-11e9-9764-c682cb8b81c6.PNG)

¿Any help? Thanks!

[2019-06-24 16:05] xvzcf commented on #97
This is a bug that is being addressed by https://github.com/open-quantum-safe/openssl/pull/95.

[2019-06-24 16:33] dstebila commented on #97
#95 is merged, which should fix this.  Please reopen if it doesn't.

[2019-06-24 16:33] #97 closed, assigned to nobody

[2019-06-24 16:33] dstebila commented on #96
#95 has been merged which should fix this.  Please reopen if you still have problems.

[2019-06-24 16:33] #96 closed, assigned to nobody

[2019-07-25 09:42] RicardoGaGu opened #103 "Failing to compile NGINX with PQ openssl fork"
HI! I'm trying to compile the PQ OpenSSL fork into NGINX, I've run into some problems when building nginx wirth openssl underneath. I'll show my Dockerfile to clarify my procedure for installing Nginx. I have tested the TLS demo and works fine, but when configuring Nginx on Ubuntu 18.04 it fails. I kindly ask if anyone know how to solve this problem.

[code]

The error is the following:

/usr/loca

[2019-07-25 13:05] dstebila commented on #103
Hi @RicardoGaGu, we haven't got build instructions for nginx (but probably should).  It looks to me like the nginx build system isn't being directed to link against liboqs.  Can you try adding `-loqs` somewhere, for example added on to the `--with-ld-opt` argument?

[2019-07-25 13:54] RicardoGaGu commented on #103
Hi @dstebila, thanks for the quick reply, adding -loqs on the --with-ld-opt argument does not seem to be a valid option:

Error:

---> Running in 91952e53ed0a
checking for OS
 + Linux 4.18.0-15-generic x86_64
checking for C compiler ... found
 + using GNU C compiler
 + gcc version: 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)
checking for gcc -pipe switch ... found
checking for --with-ld-opt="-loqs" ...

[2019-07-25 13:57] dstebila commented on #103
I think you'd have to *add* `-loqs` to the existing argument, so it becomes:
[code]

[2019-07-25 14:08] RicardoGaGu commented on #103
Ok, I just tried it with no success, the same error keeps appearing.

collect2: error: ld returned 1 exit status
objs/Makefile:323: recipe for target 'objs/nginx' failed
make[1]: Leaving directory '/nginx-1.15.11'
make[1]: *** [objs/nginx] Error 1
make: *** [build] Error 2
Makefile:8: recipe for target 'build' failed

[2019-07-25 14:10] RicardoGaGu commented on #103
This the command with I think ld parameters that appear in my nginx compile logs:

-L /usr/local/openssl/oqs/lib/ -loqs -ldl -lpthread -lcrypt ../pcre-8.42/.libs/libpcre.a /usr/local/openssl/.openssl/lib/libssl.a /usr/local/openssl/.openssl/lib/libcrypto.a -ldl -lpthread ../zlib-1.2.11/libz.a \
-Wl,-E

[2019-07-25 14:16] dstebila commented on #103
Okay, I'd hoped the fix was simple but apparently not.  I'll have to sit down with the build process and try to reproduce/debug, might take a few days to get back to you on this.

[2019-07-25 14:23] RicardoGaGu commented on #103
Okay, many thanks, any kind of feedback is appreciated. I'd be around and I will also get back to you if I find a solution to this.

[2019-07-25 14:26] dstebila commented on #103
Sometimes order matters.  Can you try to see if there's any way to get the `-loqs` argument to appear after the libcrypto.a?

[2019-07-25 16:06] christianpaquin commented on #103
I've successfully built nginx using the OpenSSL OQS fork; my process is [documented on our wiki](https://github.com/open-quantum-safe/openssl/wiki/Running-TLS-1.3-in-nginx). I've faced a few quirks as well; as documented on the page, I had to modify the obj/Makefile to remove invalid path to openssl, I've commented out the recompilation of openssl, and I added a liboqs.a directly. Let me know if t

[2019-07-30 11:12] RicardoGaGu commented on #103
Sorry for the lateness, but I've finally been able to compile your OpenSSL fork into Nginx. I've followed Christian's suggestions and I think the issue is best solved by manually editing Nginx makefile and incorporating the liboqs.a at the end of the linker options. Order does matter indeed!

[2019-07-31 13:22] dstebila opened #104 "Generate OQS-based signature stuff from templates"

[2019-08-07 13:28] dstebila opened #106 "Pattern matching for hybrid versus non-hybrid KEX in OpenSSL 1.0.2 is quirky"

[2019-08-22 12:40] xvzcf commented on #104
Addressed by https://github.com/open-quantum-safe/openssl/pull/107.

[2019-08-22 12:40] #104 closed, assigned to nobody

[2019-09-05 13:46] RicardoGaGu commented on #103
Hi, I feel obligated to comment here again. I did succeed to compile the pqc enabled openssl fork on a nginx web server and did some succesful tests with another pqc openssl client container, but I've built the docker image without cache settings (I follow all the steps of wiki documentation in the dockerfile instructions) and it seems that some modifications on the stable branch of this openssl f

[2019-09-05 14:05] dstebila commented on #103
Are you using our OpenSSL 1.0.2 branch or our OpenSSL 1.1.1 branch?  OpenSSL changed names of some EVP\_MD\_CTX function names from 1.0.2 to 1.1.1, so that may be related to the error you are experiencing.

[2019-09-05 14:11] RicardoGaGu commented on #103
I'm using the OQS-OpenSSL_1_1_1-stable branch. Could it be that another configured openssl library is on my docker image? All the path point to the pqc enabled openssl fork though.

[2019-09-05 14:33] csosto-pk commented on #103
@RicardoGaGu  , we dealt with this issue when building the latest nginx with OQS-OpenSSL_1_1_1-stable as well. The reason is the one @dstebila mentions. OpenSSL 1.1.1 changed the EVP_MD_CTX calls and nginx uses the ones from OpenSSL 1.0.2.

To fix it  we had to go in src/event/ngx_event_openssl.c in the nginx source directory and rename the ```EVP_MD_CTX_create()``` and ```EVP_MD_CTX_destroy()```

[2019-09-07 20:54] panburana opened #111 "Building as shared library fails"
When attempt to build the OQS-OpenSSL_1_1_1-stable branch as a shared library with the following configure statement:
[code]
make fails with the following error:
[code]

Is there something special that needs to be done in order to build the fork as a shared library?

*edit* specify branch

[2019-09-11 18:27] dstebila opened #112 "Sync with OpenSSL 1.1.1d"

[2019-09-11 18:27] dstebila opened #113 "Sync with OpenSSL 1.0.2t"

[2019-09-12 15:03] RicardoGaGu commented on #103
Your commentary helped me a lot. I was able to succesfully build nginx with the OQS-OpenSSL_1_1_1-stable branch.

[2019-09-12 16:04] #103 closed, assigned to nobody

[2019-09-13 20:28] christianpaquin opened #116 "Code point interoperability"
The current 1.1.1 branch breaks interoperability with the previous tagged release due to different assignment of the code points for the PQ KEM algs. Up to the integration of templating code, the code points (used in TLS to specify the selected "curve") were assigned manually and care was taken to keep previously defined values the same, to ensure that client/server remained interoperable between

[2019-09-16 20:37] dstebila commented on #116
@xvzcf with the templating approach, is it possible to specify the code points in the configuration file so that they can be kept consistent?

[2019-09-16 20:41] xvzcf commented on #116
Not at the moment, but the modifications to do so should be easy enough.

[2019-09-16 20:51] dstebila commented on #116
@xvzcf It seems like something we should do -- code point compatibility for, at least, KAT compatible algorithms.

@christianpaquin We haven't formally been numbering our OpenSSL releases, just calling them "OQS-OpenSSL 1.1.1 YYYY-MM snapshot release", so we don't have a semantic numbering system implying compatibility.  Should we?

[2019-09-16 21:26] christianpaquin commented on #116
I guess it would be confusing to add a second layer of versioning on top of OpenSSL's. The snapshot release id is ok if we keep compatibility intact.

[2019-09-16 21:29] christianpaquin commented on #116
The ability to specify code points in config will become increasingly valuable as these algorithms start appearing in standards.

[2019-09-17 00:44] #113 closed, assigned to christianpaquin

[2019-09-17 00:44] #112 closed, assigned to christianpaquin

[2019-09-17 20:43] xvzcf commented on #111
Hi, could you checkout [this PR](https://github.com/open-quantum-safe/openssl/pull/117) and see if it solves the issue?

[2019-09-17 21:00] xvzcf commented on #116
My earlier comment was inaccurate: The KEM NID's already have to be manually specified in the `generate.yml` file, and so no additional work is needed there. It is the signature scheme bitmasks in `ssl/ssl_locl.h` that are assigned in an automatic fashion, which might cause inter-operability problems.

[2019-09-17 21:30] xvzcf commented on #116
The signature NIDs are assigned automatically in that the order in which the signature algorithms are specified in `crypto/objects/objects.txt` determines the NID assigned in `include/openssl/obj_mac.h`.

This means interoperability is preserved if entries are only appended to the file. Right now, the templating code adds an algorithm, then all it's hybrid variants before moving on to the next one

[2019-09-18 09:46] RicardoGaGu opened #137 "testing PQ enabled openssl with s_time cmd"
Hi! I'm considering doing a little benchmark of the post quantum ciphers in a openssl playground (mainly kex & signature algorithms). I've tested the command line server that comes with the openssl server and generated a self signed certificate with the pq signature of choice. I could connect to this server via the  openssl s_client tool, which lets you specify with the -curves parameter the <KEX>

[2019-09-18 19:38] xvzcf commented on #116
In short:

1) KEM NID's (and therefore CurveID's) already have to be manually specified in the `generate.yml` file, so no additional work is needed there.

2) The templating code assigns signature OIDs as described [here](https://github.com/open-quantum-safe/openssl/wiki/Contributing-Guide) under the "Adding an authentication algorithm" section. Adding (or re-ordering) hybrid variants will affect

[2019-09-18 19:57] panburana commented on #111
Yep, I'm able to build as a shared library now. Thank you again for resolving that!

[2019-09-18 19:57] #111 closed, assigned to xvzcf

[2019-09-18 20:15] panburana opened #118 "PKCS7 Support for OQS Algorithms"
I'm interested in using the signature algorithms from liboqs thru OpenSSL's PKCS7 interface. Through some experimentation, I've noticed that for the OQS algorithms, an oqs_pkey_ctrl() function that handles the ASN1_PKEY_CTRL_PKCS7_SIGN operation isn't defined in oqs_meth.c as has been done for classical algorithms such as in rsa_ameth.c or ec_ameth.c. I blindly wrote a crude  implementation of tha

[2019-09-18 22:52] dstebila commented on #118
Hi Peter, our initial focus was on demonstrating authentication in TLS, so we just implemented the minimum we needed in order to do so (generate certs using command line tools, use them in TLS).  We didn't delve into the S/MIME, CMS, PKCS 7, etc. territory.  If you are interested to work on that, we're certainly happy to accept code in that area.

[2019-09-18 22:55] dstebila commented on #116
Can you check which curve IDs are different between the current version and previous releases of OQS-OpenSSL-1.1.1?  If there are differences we should decide whether to make them align, or whether to acknowledge that in the release notes, but plan to keep alignment going forward.

[2019-09-19 13:31] dstebila commented on #137
Hi Ricardo, I haven't tried the s\_time command so I am not sure how it works.  We haven't explicitly enabled or tested PQ support in s\_time.  If you look at it and can let us know what needs to change or want to submit a patch to that effect, we'd be happy to have it.

[2019-09-19 20:57] xvzcf commented on #116
From examining `ssl_locl.h` at the [1.1.1c tag](https://github.com/open-quantum-safe/openssl/blob/8c4e1a72c2e892d6d4b9903769ad1f29f95a1dae/ssl/ssl_locl.h#L559) (before templating was added) and at the [1.1.1d tag](https://github.com/open-quantum-safe/openssl/blob/5ca5e645180c93fa4a1c39efa6a96f1ef2f2bab6/ssl/ssl_locl.h#L600) (after templating was added), at the very least, all the post-quantum only

[2019-09-19 21:08] dstebila commented on #116
Thanks. It doesn't seem like it would be difficult for us to keep the curve IDs consistent, the only annoyance I can think of is that we might have some gaps since we've dropped some algorithms.

[2019-09-19 21:12] xvzcf commented on #116
It shouldn't be difficult at all since we do specify every single curve ID in the `generate.yml` file.

[2019-09-20 14:27] panburana commented on #118
Thanks for clarifying! At minimum, I'd be more than happy to write up what I've encountered.

[2019-09-20 14:27] #118 closed, assigned to nobody

[2019-09-20 14:28] dstebila commented on #118
That would be great, and helpful to someone else trying to enable that functionality.

[2019-09-23 17:03] xvzcf commented on #116
[This PR](https://github.com/open-quantum-safe/openssl/pull/120) addresses signature OID consistency.

[2019-09-25 20:13] christianpaquin opened #121 "Update TLS 1.3 wiki page with v0.2 changes"
Update the [PQC integration into TLS 1.3](https://github.com/open-quantum-safe/openssl/wiki/PQC-integration-into-TLS-1.3) page.

[2019-09-26 21:36] xvzcf opened #122 "Algorithms disabled in liboqs should be disabled in OpenSSL."
When liboqs is built, autoconf outputs `config.h`, which contains preprocessor defines that state what algorithms are enabled at the variant level; for e.g.: if in the file we have
` ... `
 `#define OQS_ENABLE_SIG_qTESLA_I 1`
`/* #define OQS_ENABLE_SIG_qTESLA_III_size*/`
` ...`
this means `qTESLA_I` is enabled and `qTESLA_III_size` is not.

OpenSSL should also be able to enable and disable the use

[2019-09-27 19:38] dstebila commented on #116
Fixed by #120.

[2019-09-27 19:38] #116 closed, assigned to xvzcf

[2019-09-27 19:39] dstebila commented on #106
Won't fix as this will be our last release of OpenSSL 1.0.2

[2019-09-27 19:39] #106 closed, assigned to nobody

[2019-09-27 19:41] dstebila commented on #122
Yes, although when we implement this we should make use of `include/oqs/oqsconfig.h`, rather than the `config.h` output by autoconf directly.  (Using a `config.h` from one autoconf output in another project can lead to weird things happening.  `oqsconfig.h` is a filtered version of the autoconfig `config.h` with just the OQS-specific stuff kept.)

[2019-10-16 20:16] dstebila opened #124 "Inconsistency in hybrid signature algorithm names"
In the C source code e.g. https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/crypto/objects/obj_dat.h#L5798 hybrid signature algorithms have an underscore e.g. `p256_oqsdefault`.

But in the test harness https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs_test/tests/test_openssl.py#L23 and in README.md, the hybrid signature algorithms have a hyphe

[2019-10-17 09:00] zrlmib commented on #124
FWIW, additional comment: This becomes visible when changing line 76 in https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs_test/tests/test_openssl.py
from
`else: sig_alg_sized = "rsa"`
 to read
`else: sig_alg_sized = sig_alg`
(which arguably is better as then sig algs other than ECDSA and RSA get tested).

[2019-10-18 17:58] xvzcf commented on #124
Indeed, the hybrid signature algorithms were not being tested. [This](https://github.com/open-quantum-safe/openssl/pull/125) should fix it.

[2019-10-22 18:04] #124 closed, assigned to xvzcf

[2019-10-23 17:41] dstebila opened #127 "OQS-OpenSSL 1.0.2 CI tests failing due to undefined EVP_MD_CTX_new/free"
See https://circleci.com/gh/open-quantum-safe/openssl/654

[2019-10-29 18:12] syrtap opened #128 "Question: Cannot compile standard OpenSSL code using OQS-OpenSSL (already configured and installed)"
I have compiled OQS-OpenSSL on CentOS 7.7 using gcc 7.3.1 by following the instructions (First get OQS-OpenSSL, then build and install liboqs at the root of OQS-OpenSSL and finally build OQS-OpenSSL).

Everything seems to work during the build process of OQS-OpenSSL, I've installed OQS-OpenSSL into "/usr/local/1.1.1d-OQS-OpenSSL_1_1_1-stable_snapshot_2019-10-0.2.0"

**Issue:**
The issue I get is w

[2019-10-30 09:32] zrlmib commented on #128
Hi Sylvain,

   as you seem to want to build a ‘normal openssl enabled app’, did you follow all guidance posted here: https://github.com/open-quantum-safe/openssl/wiki/Running-TLS-1.3-in-nginx#download-and-build-nginx ?

In addition, two observations :
I’m not sure this typo (double ‘//’) in your config is “somewhat” OK or must be corrected (I’d fix it anyway): root/build/openssloqs/openssl-OQS-Op

[2019-10-30 15:41] xvzcf commented on #103
For posterity, the instructions to build nginx are no longer on the wiki page and have been moved [here](https://github.com/open-quantum-safe/oqs-software).

[2019-10-31 18:58] syrtap commented on #128
Thank you zrlmib for your response.

I think there might be two steps necessary:  First is to install liboqs resources (oqs/include and oqs/lib) into the right locations along with the rest of OQS-OpenSSL.  The second step would be to create a pkg-config file (.pc) that would add "-I<INSTALL_PREFIX>/include/oqs" and "-L<INSTALL_PREFIX>/lib{64}" so that compiling with "pkg-config --cflags" "pkg-con

[2019-11-01 15:12] xvzcf commented on #128
I've deleted the link that @zrlmib gave. If (as @zrlmib stated) you intend to build OpenSSL-dependant software against the OQS-OpenSSL fork, then the Dockerfiles that do so for [apache](https://github.com/open-quantum-safe/oqs-software/blob/0d2dbd756dc731ffa9ce1bf45ff4f910093da881/httpd/Dockerfile) and [nginx](https://github.com/open-quantum-safe/oqs-software/blob/master/nginx/Dockerfile) might be

[2019-11-05 20:57] kevinmkane commented on #128
This does still appear to be a problem. I'm running into it trying to build OpenVPN against the fork with the intention of using PQ ciphersuites, and the dependency of <evp.h> on oqs/oqs.h is tripping me up. I can copy the dependencies in and still get the build to work, but it seems like if the OQS code gets linked into the libraries so that applications don't need to also link with -loqs, the he

[2019-11-06 00:18] dstebila commented on #128
To make sure I understand -- @kevinmkane your point is that OQS-OpenSSL should copy the OQS include headers into the same place that OpenSSL installs its header files?

[2019-11-06 00:33] kevinmkane commented on #128
My point is better phrased in terms of the goal: Applications building against OQS-OpenSSL should be able to successfully build, link, and run based on only the products that get installed as part of `make install`.

If need be I think it's fair to require these be applications built specifically to work with OQS-OpenSSL (as opposed to regular, unmodified OpenSSL-using applications -- though build

[2019-11-06 08:57] zrlmib commented on #128
@kevinmkane Thanks for the good (target state) summary. What about phrasing it even shorter: **All (plain) openssl-enabled apps should build out-of-the-box if passed OQS-openssl in the typical '--with-openssl' config parameter pointing to OQSSL.** Would that what you'd be looking for?

FWIW, I'm still digging into pkgconfig and autoconf to find out how to make this come to pass and suggested to @d

[2019-11-06 15:32] kevinmkane commented on #128
@zrlmib Yes. That's what I'd be looking for as the ideal goal.

If you discover targeting plain OpenSSL-enabled apps is problematic for some reason, an acceptable fallback goal would be to make that true for OQS-aware apps.  In other words, the app author has to make some changes to use of OQSSL, but once done, that code should build anywhere OQSSL has been `make install`'d without requiring the p

[2019-11-22 14:24] baentsch commented on #10
@dstebila @smashra I just noticed this issue and would like to ask whether anything beyond the above has happened? If not, please take a look at this PR: https://github.com/open-quantum-safe/testing/pull/34 and the docker images "falling out" (on hub.docker.com -> openqsafe): They have the openssl `speed` option easily exposed so that one only needs to pass the QSC algorithm to test as parameter,

[2019-11-26 01:29] dstebila commented on #10
It's been my intention to update `openssl speed` in OpenSSL 1.1.1 to have this functionality for some time (we had it in OpenSSL 1.0.2, but never did it in 1.1.1).  We haven't followed up on this issue since last year, unfortunately.

[2019-12-11 21:29] dstebila commented on #128
@syrtap and @kevinmkane, can you try if #132 resolves your concerns?

[2019-12-29 20:53] CobbleVision opened #135 "Issue during Make of PQS OpenSSL"
**Dear PQS Team,**

I am running into the following problem after a successful build of the corresponding library. I am not sure how to further debug the error, as searching for the gcc commands using grep did not find the correct line. What could I do to solve the issue and install the library?

[code]

Is it an issue with the capital, as using -Loqs does not seem to throw any errors! Perhaps you

[2019-12-30 06:11] baentsch commented on #135
The question is where in your folder structure(s) you issue the command above? For the above to work, you must execute this in a folder that has a subfolder with the `oqs` libraries *installed* (as per [these instructions](https://github.com/open-quantum-safe/openssl#step-1-build-and-install-liboqs) ).

[2019-12-30 09:58] CobbleVision commented on #135
Dear Baentsch,

I believe that I went through the process as described on the github page. Here is a detailed description of what I did. I am on Ubuntu 18.04 with Kernel 5.0.0-23-generic.

Please Note #1: Today the output changed from showing an error from the previous description to not showing any error/success at all.
Please Note #2: As i completed the process before some commands returned "not

[2019-12-30 10:36] baentsch commented on #135
This all looks good (except renaming liboqs in step 2 into the openssl git branch is not required: The `make install` deploys the liboqs libraries into the right location when passing the right location in step 4).

However, you seem to run (the system) openssl in step 10 without having installed (the new version) first (`make install` in OpenSSL missing as step 9a). That said, please be aware tha

[2019-12-30 11:13] CobbleVision commented on #135
Dear Baentsch,

I tested the make install command on my device. **There was no error messages, but also no success message**. I cannot replicate #128 anymore, although I had the same problem before. However, so far I cannot use a new cipher/algorithm.

Using  `apps/openssl genpkey -algorithm oqs_kem_default -out PQS_srv.key` from the custom folder results in "algorithm not found".

Testing just th

[2019-12-30 11:44] baentsch commented on #135
Dear Cob, this is very weird. What does `./openssl list -public-key-algorithms` return (when executed in `apps`, of course :)? Not a single QSC alg??

In addition, did you do [this](https://github.com/open-quantum-safe/liboqs/wiki/oqsdefault) ? Sorry, I've never used the `key_default` mechanism but always wanted to specify specific algorithms at runtime.

[2019-12-30 12:42] CobbleVision commented on #135
Dear Baentsch,

1) I moved some files and tried to play with the oqs and lib folders, but did not get any further yet. The openssl library seems to updated and built, as the last change matched the last make.

2) I tried setting the default algorithm and rebuilt, but genpkey does not seem to offer the option of using a default algorithm. So far it is the same result.

3) I am using `sudo apps/open

[2019-12-30 13:00] baentsch commented on #135
Dear Cob, for me building liboqs and openssl (without *installing* openssl) absolutely works without sudo/root. Why/where do need write access to `/usr/lib`? Does the list pk-algs (see previous question) show any QSC algorithms? Greetings, --Michael

[2019-12-30 13:10] CobbleVision commented on #135
Dear Baentsch,

using the previous command `./openssl list -public-key-algorithms` results in the same list of algorithms, without any PQS algorithms.

Write access is required for make of the OpenSSL Build. This is the failure code:

[code]

Best,
Cob

[2019-12-30 14:31] baentsch commented on #135
Hmm, this indeed indicates `make install` has been executed for openssl (which is risky without setting `--prefix` during openssl Configure/your step 8 as that could mess with your system openssl..). I just checked your log files again and they show indeed a correctly built and linking openssl. I can't understand how/why it shouldn't list the QSC algs... Can you run `nm` on your apps/openssl execu

[2019-12-31 07:05] CobbleVision commented on #135
Thanks for the support so far. Using nm does not show any QSC symbols / algs. I checked manually as well as with grep.

I'll retry to build the library in the coming days on a different system. Since I am living in an area with slow internet speed, I'll try the docker variant as soon as I have a better connection.

It might also be the hardware causing issues!

Best,
Cob

[2020-01-15 14:55] #128 closed, assigned to nobody

[2020-01-22 02:16] dstebila commented on #127
Tests no longer failing.

[2020-01-22 02:16] #127 closed, assigned to nobody

[2020-01-24 10:16] baentsch commented on #137
The `-curves` parameter is available with the openssl `s_server` command, so why not use that to drive the test?

For example, this command pair performs a KEM=kyber512 perf test:
[code]

OK, you have to start the server with another KEM each time, but it's a quick workaround.

[2020-02-12 19:50] dstebila opened #144 "Add more algorithms from liboqs"
- [x] Kyber 90s
- [x] LEDAkem
- [x] ThreeBears
- [ ] HQC (https://github.com/open-quantum-safe/liboqs/issues/709)

[2020-02-18 14:54] dstebila opened #147 "Script to skip CI builds if no check-in should check if liboqs had a check-in"
The newly added `.circleci/git_no_checkin_in_last_day.sh` script usage in the `.circleci/config.yml` should only skip if there was no check-in in *both* OpenSSL and liboqs; currently it skips if there was no check-in in just OpenSSL.

Also needs to be changed in OQS-OpenSSH.

[2020-02-24 02:00] ReverseControl opened #150 "OQS-OpenSSL_1_1_1-stable TEST70 test_clienthello FAIL."
The error message:

[code]

A Dockerfile to reproduce this:

[code]

With this Dockerfile, run:
[code]

This error is consistent.  Helps. Thanks.

[2020-02-24 09:17] baentsch commented on #150
Thanks for this report. We can reproduce this and (think we :-) understand it: This is a test assuming short(er) ClientHello messages than what OQS-OpenSSL presently produces with all QSC algorithms enabled. It therefore does not apply (ClientHello padding is not required/triggered).

So for the time being, you can safely ignore the error message.

We will update the tests accordingly.

[2020-02-25 23:54] dstebila commented on #147
Fixed by #149.

[2020-02-25 23:54] #147 closed, assigned to nobody

[2020-02-26 16:04] baentsch commented on #135
@CobbleVision , any news on the above? We switched the build system rather drastically, so you may want to re-try. If we don't hear back, we'll close this issue sometime next week.

[2020-02-29 05:06] CobbleVision commented on #135
Thanks for the update. I haven't come back to the library yet. Currently busy with some higher priority infrastructure topics. I'll try it once I am back on top of my systems.

[2020-03-02 00:28] #150 closed, assigned to nobody

[2020-03-03 10:59] ReverseControl opened #152 "openssl ciphers does not show Qcipher suites."
The problem:

***OQS-OpenSSL_1.1.1***

[code]

But, in the previous version:

***OpenSSL_1.0.2 ***

[code]

Can we please get back this interface where we can specify Quantum Cipher Suites? Thank you.

[2020-03-03 15:12] dstebila commented on #152
In TLS 1.2, "cipher" referred to "signature algorithm + key exchange method + symmetric authenticated encryption scheme".  In TLS 1.3, "cipher" now refers to just "symmetric authenticated encryption scheme".  The key exchange method is now negotiated separately in a list of "groups".  OpenSSL does not appear to have a command-line method for listing supported groups.  You'll have to rely on the li

[2020-03-03 15:12] #152 closed, assigned to nobody

[2020-03-03 15:39] xvzcf commented on #152
While `openssl ecparam -list_curves` lists all the "native" supported groups, we have not added the OQS groups to that command.

[2020-03-03 15:47] baentsch commented on #135
OK - thanks for the tentative feedback. We'll then close. Please create a new issue should you still have (if at all, most probably new/different) problems with the new build environment.

[2020-03-03 15:47] #135 closed, assigned to nobody

[2020-03-03 17:19] ReverseControl commented on #152
Could support be added to show the OQS curves in ``openssl ecparam -list_curves``? That would be really helpful.

[2020-03-03 19:59] dstebila commented on #152
Well, they're not really curves, and the ecparam is primarily about manipulating elliptic curve domain parameters, which is not relevant for the KEMs in OQS.  I'm not sure what the right place is for this, perhaps it doesn't exist yet.

[2020-03-03 20:06] christianpaquin commented on #152
Indeed, as @dstebila says, post-quantum algs are not EC curves and that would lead to confusion. I faced that issue while integrating PQ into an app using the OpenSSL ecparam API, and things go bad quickly if you try to pass it a PQ alg (the API expect a properly form EC curve). I second _not_ listing our algs there.

[2020-03-03 20:11] RLuuPOC opened #153 "Kyber algorithms not found"
Hi,
I am new to OQS Openssl but I did use Openssl (release ver. 1.1.1d) to generate out public and private keys with RSA and encrypt/decrypt file with AES-CBC. I tried to use quantum resistance key encapsulation mechanism through Kyber and signature schemes with Dilithium for my project.
I followed instruction to build openssl with libops and the build seemed OK (version 1.1.1d with many warning i

[2020-03-03 21:03] dstebila commented on #153
Post-quantum KEMs are only available within TLS 1.3, they are not available to use directly as a public key encryption mechanism in the command-line tools or API.  This is related to the long-standing open issue #59.

[2020-03-03 21:03] #153 closed, assigned to nobody

[2020-03-04 00:09] ReverseControl commented on #152
@christianpaquin how did you handle the integration to use PQ given the API expects a proper EC curve? Also, adding your response to the README at the root of the repo would also be helpful.

[2020-03-04 01:01] christianpaquin commented on #152
I didn't; I had to workaround this API because PQ KEX are not valid EC params. We mascarade PQ KEX as EC curves in TLS 1.3 because that's the only way to specify them in the protocol (until spec extensions are written and implemented), and that's ok because the internal openssl code branches of to our PQ-specific code when we detect our alg IDs, but public EC API can't and shouldn't handle PQ algs

[2020-03-04 07:25] baentsch commented on #35
`openssl speed` would also (want to) do `encrypt`/`decrypt` -- this wouldn't be exactly workable on QSC KEMs. So, would the following proposal be OK to address this issue: We'd add to `openssl speed` OQS-specific tests for encode/decode, sign/verify, keygen (basically looping over the respective OQS_EVP_METHODS in [crypto/ec/oqs_meth.c](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL

[2020-03-04 17:38] dstebila commented on #35
For SIGs hopefully we could indeed loop over the EVP methods as you suggest.

For the KEMs, I think we would add these by paralleling what's there for one of the ECDH curves (e.g., nistp256).  Looking at [what we did for openssl speed in OpenSSL 1.0.2](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_0_2-stable/apps/speed.c), we were able to iterate over the list of OQS KEM algorith

[2020-03-04 21:22] ReverseControl commented on #152
@christianpaquin, in the meantime,  what would you suggest for specifying a quantum algorithm from a configuration file or code?

[2020-03-04 21:26] dstebila opened #154 "Implement TLS 1.3 hybrid KEX specification"

[2020-03-04 22:23] christianpaquin commented on #152
What's the scenario? Are you calling this from a web server (e.g. nginx) or a client app?

[2020-03-04 22:31] ReverseControl commented on #152
@christianpaquin Using it with a vpn, OpenVPN works but it could be any other VPN and their configuration file.

[2020-03-05 15:05] zrlmib commented on #35
OK, I upgraded the `speed` code from 1.0.2 to 1.1.1 (https://github.com/baentsch/openssl/blob/speed/apps/speed.c) but I’m not sure it’s exactly what we want:

This delivers nicely _all_ KEMs’ speed test results (via the OpenSSL speed mechanism) but it has no relationship as to the KEMs we _actually_ support in OpenSSL, incl. the hybrid ones…

 What’s your take: Shall we reduce the numbers or KEMs

[2020-03-05 15:09] baentsch commented on #35
OK, I upgraded the `speed` code from 1.0.2 to 1.1.1 (https://github.com/baentsch/openssl/blob/speed/apps/speed.c) but I’m not sure it’s exactly what we want:

This delivers nicely _all_ KEMs’ speed test results (via the OpenSSL speed mechanism) but it has no relationship as to the KEMs we _actually_ support in OpenSSL, incl. the hybrid ones…

--> What’s your take: Shall we reduce the numbers or KE

[2020-03-05 18:52] ReverseControl opened #156 "How to choose algortihm for KEX/GEM of my choice?"
It is unclear, and seemingly impossible after trying hard, to select a quantum algorithm for KEM/KEX of my choice, or at all for that matter. The example given with the internal TLS server/client designed for testing works like a charm, but if I wanted to choose a quantum algorithm for KEM/KEX say for a vpn, or generate the parameters to use one for a configuration file, there seems to be no way o

[2020-03-05 19:25] RLuuPOC commented on #153
Hi Douglas,
I even tried simple commands from TLS demo section (Readme.md) but they did not even recognize Kyber512 algo.

1.  ./apps/openssl req -x509 -new -newkey kyber512 -keyout kyber512_CA.key -out kyber512_CA.crt
2.  ./apps/openssl genpkey -algorithm kyber512 -out kyber512_srv.key

Your response stated that kyber algo is not available through command-line tool such as openssl.  So, the above

[2020-03-05 19:50] xvzcf commented on #156
For TLS 1.3, the OQS key-exchange algorithms only pretend to be elliptic curves in the `ssl` layer, so that an algorithm can be negotiated using the `supported_groups` and `key_share` TLS 1.3 extensions. They haven't been added to the EC API since they aren't really elliptic curves, and cannot be manipulated as such.

Thus, you should be able to specify a PQ key-exchange by passing an OQS algorith

[2020-03-05 20:22] dstebila commented on #153
You are confusing KEMs and signature schemes.  X509 certificates are about signature schemes.  Kyber is a KEM.

[2020-03-05 23:10] ReverseControl commented on #156
I tested with OpenVPN, it does not work. No Quantum KEMs/KEXs "curves" are recognized. The server uses the below curves as expected, I tested, but with "kyber512" and "frodo640aes" as per your example I get:

[code]

The function that get's called in OpenVPN to handle the ecdh-curve parameter uses OpenSSL code, but apparently is not able to find the curves nid by name .  See below:

**EDIT 1:** I

[2020-03-06 05:17] baentsch commented on #137
Available via [this](https://github.com/open-quantum-safe/openssl#performance-testing) (PR #155) and [this](https://github.com/open-quantum-safe/oqs-demos/tree/master/curl#performance-testing)

[2020-03-06 05:17] #137 closed, assigned to nobody

[2020-03-06 16:18] dstebila commented on #35
I think it is fine that `speed` only gives the PQ algorithm's performance, not the hybrid performance.  As for whether `speed` should work for all algorithms in liboqs or only ones that have been lifted to somewhere in OQS-OpenSSL, I don't have a strong opinion; it would probably be slightly less confusing for people if `speed` only showed results for OQS algorithms that they could actually use el

[2020-03-07 04:47] ReverseControl commented on #156
For the OpenSSl s_server/s_client in the 1.0.2 archived fork using TLSv1.2 I was able to verify that kyber1024 works because I can see that "random bytes" used in the exchange are the exact size it should be for that parameter per the NIST submission paper for kyber, and also because the ciphersuite for that algorithm is chosen by the server when it's the only one the client lists as available --

[2020-03-07 06:02] baentsch commented on #156
May I suggest you try out [OQS-nginx](https://github.com/open-quantum-safe/oqs-demos/tree/master/nginx): When running that, `openssl s_client` always shows the temp k[ex]  (type) chosen, e.g.:
[code]
(generated by [executing the example code](https://github.com/open-quantum-safe/oqs-demos/tree/master/nginx#examples)): Use any of the [KEMs supported](https://github.com/open-quantum-safe/openssl#key

[2020-03-07 06:34] ReverseControl commented on #156
@baentsch  Ah, yes I see that. However, I still cannot see the TLS hello in the traffic, can you see the raw packets with that key negotiated?

[2020-03-07 07:17] baentsch commented on #156
@ReverseControl Yes. `openssl s_client -debug`.

[2020-03-07 07:17] #156 closed, assigned to nobody

[2020-03-07 16:17] ReverseControl commented on #156
@baentsch I still cannot see the TLS handshake in traffic; that is to say, capturing traffic independent of openssl for verification.

Using the debug flag I noticed the following:

[code]

Is this public key meant to be the kyber2014 public key? Because the size of that key, per the NIST submission paper, is exactly 1568 bytes which is not 9472 bits.

[2020-03-07 18:16] dstebila commented on #156
Public key here refers to the signature scheme (which in this case is Dilithium 2) not the KEM for the key exchange.

[2020-03-09 07:06] baentsch commented on #35
Filtering does require extra effort... OK - then I complete the ported code with SIG tests and create a PR. Maybe in so doing I get a better idea for the KEMs...

[2020-03-09 16:07] christianpaquin commented on #156
OpenVPN doesn't work with our fork TLS 1.3 OpenSSL 1.1.1 fork. Even if you had the code to find the curve, you still get errors because OpenSSL is trying to parse the alg as an actual elliptic curve. More modifications would be needed on OpenVPN to make this work.

[2020-03-09 17:30] ReverseControl commented on #156
The TLS1.3 OpenSSL 1.1.1 fork works just fine with nginx; i looked at the source code and it does not seem to do anything that much different than the OpenVPN source code to handle TLS, other than being much better organized and readable.

What needs to be done to make OpenVPN work with the TLS1.3 OpenSSL 1.1.1 fork? I can give it a shot to integrate it, after all nginx already uses it and it work

[2020-03-11 13:31] #35 closed, assigned to nobody

[2020-03-11 13:39] baentsch opened #159 "openssl speed memory errors when running picnic"
When running on OSX or on Linux without the environment variable `OPENSSL_NO_CLEANUP` set, the execution of `openssl speed oqssig` (or any specific algorithm with the name 'picnic' in  it) causes a memory error.

A possible avenue to pursue is running tests with `-DUSE_SANITIZER=Address` to track things down (as per suggestion by @xvzcf ).

[2020-03-11 15:21] christianpaquin commented on #156
This is on the list of things to investigate...

[2020-03-11 17:22] ReverseControl commented on #156
Update: The reason I was not able to see the nginx traffic is silly...it turns out you have to enable docker containers to have access to your network, else all traffic is internal to docker. So open ports to the outside world with ``-p hostport:containerport`` or the whole thing with ``--network host``. After that I was able to see the nginx traffic and it looks fine for nginx.

@christianpaquin

[2020-03-12 07:08] ReverseControl commented on #153
@RLuuPOC The Crystal Kyber proposal is used for both a KEM scheme and a signature scheme; take a look at the Crystal-Kyber in the arxiv as well as the NIST submission paper on Crystal-Kyber [ [https://pq-crystals.org/](https://pq-crystals.org) ]. The KEM is widely refered to as "kyber" although the ``dilithium`` set of signatures are also based on the Crystal-Kyber Mathematical construction as wel

[2020-03-12 07:22] baentsch commented on #153
@RLuuPOC @ReverseControl [This](https://github.com/open-quantum-safe/openssl#supported-algorithms) defines KEM+SIGs for OQS-openssl. "[Crystals](https://pq-crystals.org/)" is the "family name" for

[2020-03-17 16:04] RLuuPOC commented on #153
Hi,
For Kyber (used for KEM), I tried to use "openssl genpkey" command to generate the private/public key but got an error message, "Algorithm kyber512 not found".
./apps/openssl genpkey -algorithm kyber512 -out kyber512_srv.key

Is this correct syntax to generate out private key?
Thanks,
Raymond

[2020-03-17 21:01] dstebila opened #161 "Sync with OpenSSL 1.1.1f"

[2020-03-19 18:01] dstebila opened #162 "Reduce number of default KEX algorithms"
Having a large number of default KEX algorithms is causing problems in software that expects a shorter list.  We should reduce the list of default KEX algorithms in TLS 1.3 to just the level 1 hybrids.

[2020-03-20 06:06] baentsch commented on #162
See my comment on the PR: I'd think we should not limit OQS-openssl _this_ heavily. I'd think there is a way to keep supporting all algorithms that work OK in liboqs (splitting+run-time activating by NIST levels, splitting by  algorithm families, or any other idea to whittle down the list such as to not "overwhelm" downstream apps with an overly long list of "curves"/PQC algs).

[2020-03-21 20:40] #154 closed, assigned to dstebila

[2020-04-01 00:31] dstebila opened #168 "Change hybrid curve numbers to use private range as recommended in Internet-Draft"
https://tools.ietf.org/html/draft-stebila-tls-hybrid-design-03 says the code points reserved for hybrid private use are `0x2F00..0x2FFF`, so we should use that range.

[2020-04-01 21:15] christianpaquin commented on #168
We don't have hard dependencies on the currently implemented code points, so it should be ok to modify them. What about non-hybrid algorithms?

[2020-04-01 23:57] dstebila commented on #168
We would leave those in the current private range; the Internet-Draft doesn't speak to PQ-only KEX methods.

[2020-04-08 13:47] dstebila commented on #159
Is this still occurring after #169?

[2020-04-08 13:55] baentsch commented on #10
@dstebila We have [openssl speed](https://github.com/open-quantum-safe/openssl#speed) and [docker-based perf testing](https://github.com/open-quantum-safe/oqs-demos/tree/master/curl#performance-testing) now -- so shouldn't we close this?

[2020-04-08 13:57] #10 closed

[2020-04-08 14:08] baentsch commented on #159
will check again...

[2020-04-09 05:43] baentsch commented on #159
Yes, error definitely still occurs when running plain or hybrid picnic in `openssl speed`:
[code]
(both with `Debug` and `Optimized` liboqs)

[2020-04-09 09:10] baentsch commented on #122
@dstebila When looking at how to resolve this issue I wondered whether this is entirely an OpenSSL/H issue: For example, shouldn't `OQS_KEM_alg_identifier` (implemented in `liboqs/src/kem/kem.c`) also properly #ifdef the algorithm families? Example: Disabling Frodo in liboqs has it still report Frodo (as active) in`OQS_KEM_alg_identifier` (also btw causing a CI failure in `tests/example_kem.c`) an

[2020-04-09 17:48] dstebila commented on #122
All algorithms are listed in `OQS_KEM_alg_identifier`.  `OQS_KEM_alg_is_enabled` indicates whether they are enabled are not, which is based on compile-time #ifdef's.

[2020-04-09 19:42] christianpaquin commented on #159
I'm wondering if this is a picnic or a big-signature problem. We currently only support picnic, but a larger sig alg could be set with OQS_SIG_DEFAULT and see if the same problem occurs.

[2020-04-14 18:57] dstebila commented on #161
Fixed by #167

[2020-04-14 18:57] #161 closed, assigned to christianpaquin

[2020-04-14 20:58] #162 closed, assigned to christianpaquin

[2020-04-21 19:26] dstebila opened #170 "Update to OpenSSL 1.1.1g"

[2020-04-21 22:44] christianpaquin commented on #170
Diff between 1.1.1f and 1.1.1g:
https://github.com/openssl/openssl/compare/36eadf..e2e09d

Should merge nicely. I can take this, unless you already started @dstebila.

[2020-04-22 16:41] martinschmatz opened #172 "Re-enable KEMs"
With one of the recent merges, the list of default KEMs was significantly reduced (commit ddc21b0e18cf0f0662be0ec8a3bee2df26e49ab8).

While there are ways to specify non-default KEM for openssl s_client/server, this causes issues for situations where the curve can not be explicitly specified (e.g. cURL) but has to rely on whatever OpenSSL API exposes as defaults.

May I therefore suggest to use a

[2020-04-24 00:58] dstebila commented on #170
Fixed by #171

[2020-04-24 00:58] #170 closed, assigned to christianpaquin

[2020-04-24 08:56] baentsch opened #173 "Enable --curves in openssl s_time"
Working around default algorithm list reduction & enabling same capabilities as in nginx, apache httpd, curl (https://github.com/open-quantum-safe/oqs-demos/issues/17), openssl s_client/s_server.

[2020-04-24 09:06] baentsch commented on #172
@martinschmatz Thanks for the suggestion. This is certainly a sensible extension of the enable/disable concepts from `liboqs`.

Until we get to this, the PR above contains a patch for curl enabling it to set the client-requested algorithms in the same way as you can do it with `openssl s_client`, i.e., when you use an OQS-curl built with this patch (e.g., from https://github.com/open-quantum-safe/

[2020-04-24 12:50] martinschmatz commented on #172
@baentsch Many thanks!

Just for test purposes, I applied the patch to my cURL build. Now I can have a connection from cURL using `--curves kyber1024` and it works (as far as tested).

Having said that, I still would most certainly prefer control over algs in OQS rather than patching third party apps to make those fit. (BUT: having `--curves` in upstream cURL would be a good thing in any case).
So

[2020-04-24 14:26] #173 closed, assigned to baentsch

[2020-04-27 09:34] martinschmatz commented on #172
Just FYI (read: adding it here in case somebody else could benefit):
The default list of curves seems to be generated using scripting. Therefore, rather than using the above described approach using defines, I'm using for the time being...

`sed -i  '/static const uint16_t eccurves_default/ a 0x0211, /* OQS kyber1024 */' ssl/t1_lib.c`

... right before `make`-ing OQS OpenSSL to re-add `kyber1024`

[2020-04-27 09:53] baentsch commented on #172
I'd strongly suggest refraining from tweaking NIDs directly as those are a) generated and b) subject to change (e.g., https://github.com/open-quantum-safe/openssl/issues/168). I  already provided one alternative for you above and now did a PR (#175 ) with another, syntactically identical one for build-time config. As this is a long-standing discussion topic, I'd prefer to have wider agreement befo

[2020-04-27 10:09] martinschmatz commented on #172
@baentsch Totally agree that using curveIDs is far from what is wanted for long-term (and might need adaptations if the underlying definitions changes), hence my comment '...for the time being...'. It is what it is: A poor man's solution to avoid patching third party code, but nevertheless enabling flexible testing.

Your PR #175 seems to be right on the spot of what I'd prefer to have, many thank

[2020-04-27 14:37] baentsch commented on #172
Closed by PR #175

[2020-04-27 14:37] #172 closed, assigned to nobody

[2020-04-28 07:29] martinschmatz commented on #172
Adding...
`-DOQS_DEFAULT_GROUPS="prime256v1:secp384r1:secp521r1:X25519:X448:kyber512:kyber768:kyber1024:p256_kyber512:p256_kyber768:p256_kyber1024"`
...when `./Configure`-ing OQS Openssl worked for me.
Many thanks!

[2020-04-29 18:32] dstebila commented on #144
See https://github.com/open-quantum-safe/openssl/wiki/Contributing-Guide

[2020-04-29 18:33] dstebila commented on #159
Try this with other algorithms after they've been added in #144.

[2020-04-30 08:58] baentsch commented on #144
Quick understanding question: (Why) Do we truly still (need to?) maintain the 'curve ID' in the `oqs-template/generate.yml` file? If I understand it right, those 'nids' have no relationship whatsoever with the true NIDs (which are generated by the `crypto/objects/obj_mac.num` generator in combination with the openssl `make generate_crypto_objects` script) and which in all other places are referenc

[2020-04-30 16:13] #144 closed, assigned to baentsch

[2020-04-30 17:24] baentsch commented on #144
@dstebila The closing happened automatically on Merge.... Should we keep this open until HQC is fixed and integrated?

[2020-04-30 18:04] xvzcf commented on #144
The NIDs in `obj_mac.num` are OpenSSL-internal identifiers. The curve IDs in the `generate.yml` file are TLS 1.3 (private-use) identifiers, and are referenced [here](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/ssl/ssl_local.h#L480) and [here](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/ssl/t1_trce.c#L536) for example.

[2020-05-01 05:37] baentsch commented on #144
@xvzcf Thanks for the pointers. The first use I was aware of, the second eluded me. I'd then consider this PR truly closed.

[2020-05-01 07:24] baentsch commented on #159
Nothing changed after doing #144 : Still it's only picnic causing such crashes. But then again, we did not add new _signature_ algorithms...

[2020-05-01 23:11] christianpaquin commented on #159
I traced the failure to `src/sig/picnic/external/mzd_additional.c`'s `mzd_local_free_multiple` function, to the `aligned_free` call. There is special handling of this function in liboqs, and will need to be revisited. I'll check that next week.

[2020-05-05 13:54] baentsch commented on #122
Another question on this topic: Am I assuming correct that we would not want (to make) users run `oqs-template/generate.py` (and consequently `make generate_crypto_objects`) after disabling some algorithms in `liboqs`?

If so, this would mean that all tests and all NIDs remain as-is (checked in) in oqs-openssl. This in turn will mean that the tests checking disabled algorithms _will_ fail as I don

[2020-05-05 14:37] christianpaquin commented on #159
The Picnic team pushed a [v2.2](https://github.com/IAIK/Picnic/tree/v2.2) version last month to fix a few things, just before releasing [v3](https://github.com/IAIK/Picnic/tree/v2.2). I'll plan on integrating the v2.2 update in this OQS release, hopefully that would help with this issue as well.

[2020-05-05 20:29] dstebila commented on #122
Correct. I would have hoped that there is enough information from liboqs's .h files available to OQS-OpenSSL at compile-time to carry out this goal.

That's a very good point, one that I hadn't thought of.

No one has asked for this, it was just something I thought we should do if we could. Perhaps it is best to leave as it is now, and if we hear of a scenario where people are disabling algorithms

[2020-05-06 20:57] christianpaquin commented on #159
The picnic `aligned_free` was a red herring; the problem is due to a size limit in OpenSSL's `speed.c`. They expect signatures to be no more than 16,384 = 16 * 1024 (last element of the `lengths_list` array defined on line 216). Adding a last value larger than picnicl1fs's sig length seems to solve the issue. I'll make a few more tests and push a fix. (Thanks to @sebastinas for the help)

[2020-05-07 15:38] jhfeng opened #179 "openssl TLS demo core dump"
I follow the README instruction to build liboqs and openssl in a Ubuntu 18.04.
After that, I want to do a quick test with build openssl s_server / s_client with instruction in README:

First, I created a self-signed certificate 2 commands:

1) $ apps/openssl ecparam -name secp384r1 -genkey -param_enc explicit -out private-key.pem
2) $ apps/openssl req -new -x509 -key private-key.pem -out server-ce

[2020-05-08 05:23] baentsch opened #181 "Change speed testing to use openssl KEM naming"
Addressing the issue raised by PR #180 : Move KEM naming from `liboqs` to `openssl` (EVP layer).

[2020-05-08 05:50] baentsch commented on #179
@jhfeng Thanks for this report. I cannot reproduce this behaviour as described, though (on Ubuntu 18.04, x86_64). Can you please share how you built the oqs-openssl that you are running above? Did you follow _exactly_ the documentation or set any `Configure` parameters differently (e.g., OQS_DEFAULT_GROUPS or use shared libraries)? What output do you get if you run `ldd apps/openssl`?

[2020-05-08 12:30] Richardo4039 opened #182 "Installation/Configuration Problem"
Hello,

First of all, im sorry for my bad english

I got this problem when i want to configure openssl oqs into my VirtualBox Linux Ubuntu 18.04, it said that the file include/openssl/evp.h cant read "include <oqs.oqs.h>", it happen in "make -j" command

And also, before the "make -j" command, i run the "cmake -GNinja -DCMAKE_INSTALL_PREFIX=<OPENSSL_DIR>=oqs .." some error said that "Could NOT fin

[2020-05-08 12:42] baentsch commented on #182
@Richardo4039 Thanks for your interest in OQS. When looking at your command above

is it possible that you did not replace '<OPENSSL_DIR>' with the full path to the actual folder where you are building openssl? The real command should look something like

`cmake -GNinja -DCMAKE_INSTALL_PREFIX=/opt/openssl-src/oqs ..`

(replacing "/opt/openssl-src/oqs" with the actual folder you're working in). Als

[2020-05-09 01:03] Richardo4039 commented on #182
Im sorry, i made a typo with the "=" when i upload this issue.

for the `cmake -GNinja -DCMAKE_INSTALL_PREFIX=<OPENSSL_DIR>/oqs ..` command, i already change the OPENSSL_DIR into my own directory, like
`cmake -GNinja -DCMAKE_INSTALL_PREFIX=PA/oqs ..`

i saved liboqs folder and my openssl-dir (PA) in same folder, it is not a problem if i saved these 2 folders in the same place, right? Or i have to

[2020-05-11 05:15] baentsch commented on #182
You can `git clone` the two folders of liboqs and openssl wherever you like. But the `CMAKE_INSTALL_PREFIX` path above _must_ point to the location where you downloaded openssl to (probably ending in '.../openssl/oqs'). The path 'PA' doesn't look right. Best have a full path there.

[2020-05-11 05:25] baentsch commented on #122
I did that a couple of times -- but so far also only to see what size-savings result (they are significant), not because of hard requirement.

So I'll do a 'simplified' PR addressing this to some degree (warning of disablement, clearly indicating in`speed` what algorithms are _actually_ supported): That way one can see at runtime which `liboqs` has been built into a given `oqs-openssl`.

[2020-05-11 13:15] #122 closed, assigned to nobody

[2020-05-11 18:38] Richardo4039 commented on #182
Oops, okay, got it, it work, thanks a lot for your explanation and help!

[2020-05-11 18:38] #182 closed, assigned to nobody

[2020-05-13 02:17] dstebila commented on #159
Fixed by #178

[2020-05-13 02:17] #159 closed, assigned to nobody

[2020-05-13 23:58] dstebila opened #188 "Update README with local testing instructions"
Update README.md with instructions how to run Python test suite locally

[2020-05-15 11:40] baentsch commented on #179
@jhfeng Closing this issue for now. Please re-open if you encounter this again: In that case, please also provide steps to reproduce.

[2020-05-15 11:40] #179 closed, assigned to nobody

[2020-05-19 14:57] #168 closed, assigned to dstebila

[2020-05-20 16:56] xvzcf commented on #188
Closed by https://github.com/open-quantum-safe/openssl/pull/193

[2020-05-20 16:56] #188 closed, assigned to xvzcf

[2020-05-20 19:31] christianpaquin opened #194 "Integrate all of OQS algorithms"
Make sure all of OQS's algs are available in OpenSSL.

(I'll start on that, @dstebila)

[2020-05-20 23:28] christianpaquin commented on #194
@dstebila, what's the process of adding new algs to the [TLS 1.3 PQ and hybrid groups](https://docs.google.com/spreadsheets/d/12YarzaNv3XQNLnvDsWLlRKwtZFhRrDdWf36YlzwrPeg/edit?usp=sharing) spreadsheet? We're missing Classic-McEliece.

[2020-05-21 00:56] dstebila commented on #194
I sent you an invitation to edit the spreadsheet. Go ahead and add the ones you need, sequentially after the existing ones.

[2020-05-22 11:52] baentsch commented on #181
Implemented with #187 and tested with #197

[2020-05-22 11:52] #181 closed, assigned to baentsch

[2020-05-25 00:51] prchander opened #201 "PQ ciphers in pyopenssl and cryptography"
Hello, first off this is not an issue but a question. I have been working with pqopenssl for a while now but currently, I am working on a project that would need PQ integration with pyopenssl and cryptography (Python). How should I go about doing this?

[2020-05-25 06:31] baentsch commented on #201
Hello -- thanks for your interest in/use of OQS. First off, can I safely assume you saw https://github.com/open-quantum-safe/liboqs-python and it doesn't provide what you need? If so, could you help me understand what you cannot do with the presently available "set of things" (liboqs -> oqs-py-binding and oqs-openssl -> app-level support like [curl](https://github.com/open-quantum-safe/oqs-demos/t

[2020-05-25 07:40] prchander commented on #201
Hello, thank you for your reply. Yes, I did check out the python liboqs but that does not really help with what I am trying to do. The project is to include post-quantum ciphers in QUIC (An internet protocol alternative to TCP/TLS). It does use TLS 1.3 but I am trying to figure out how python cryptography and python OpenSSL can be modified to interpret PQ ciphers.

[2020-05-25 09:06] baentsch commented on #201
Thanks for the background. This looks like you'd need a pretty "deep" integration of TLS and QUIC state machines for which there is arguably much better support in C (e.g., [QUIC in curl](https://daniel.haxx.se/blog/tag/quic/) ) -- assuming (quantum-safe) functionality is more important than use of Python. Otherwise, why don't you build off https://pypi.org/project/aioquic/ ?

But then again, this

[2020-05-25 09:39] prchander commented on #201
Thank you for your reply. I am building from aioquic but I am just not sure where to start integrating. It uses openssl so I am just thinking linking pip to OQS-OpenSSL should do the trick right?

[2020-05-25 17:20] xvzcf opened #203 "Include notes and explanations about unsupported liboqs algorithms in README."

[2020-06-09 18:59] prchander opened #209 "Algorithm identifiers"
Hello, this is a question. I was going through the OpenSSL code and I just wanted to know where or what the Post Quantum signature algorithm identifiers are. For example, TLS 1.3 algorithm identifiers(shown in image TLS 1.3 sig image) and the hybrid key exchange identifiers (shown in KEM image) in s_cb.c but I was not able to find where the post-quantum signature algorithms identifiers are.

![TLS

[2020-06-10 05:16] baentsch commented on #209
@prchander The current list (of OQS-signature NIDs) is [here](https://github.com/open-quantum-safe/openssl/blob/749d194240f415cd4a3dbbf13c5d177dbfdb304c/crypto/ec/oqs_meth.c#L76). You can convert those to strings using `OBJ_nid2sn`. For an example, see the [OQSSIG_options method](https://github.com/open-quantum-safe/openssl/blob/749d194240f415cd4a3dbbf13c5d177dbfdb304c/crypto/ec/oqs_meth.c#L525) -

[2020-06-10 13:14] baentsch commented on #201
Sorry I only see this question now -- and I have to admit I don't understand it: For all I know (but I may be wrong) there is no pip-deployed oqs-openssl. I'm afraid you'll have to build oqs-openssl yourself (or use a ready-built container like https://hub.docker.com/r/openquantumsafe/curl-dev ).

[2020-06-10 16:35] prchander commented on #209
@baentsch Thank you so much.

[2020-06-10 18:00] dstebila opened #210 "Update OpenSSL build instructions on Windows to refer to CMake"
https://github.com/open-quantum-safe/openssl#windows still refers to msbuild and the Visual Studio solution.

[2020-06-11 04:28] baentsch commented on #209
You're welcome. Closing the issue then.

[2020-06-11 04:28] #209 closed, assigned to nobody

[2020-06-12 00:49] christianpaquin commented on #210
I've noticed that the OQS windows build instructions are very minimal; didn't work for me. Quite late to check that, I know, but can you give me tomorrow to test that before tagging the OQS release, @dstebila ?

[2020-06-12 14:24] dstebila commented on #210
I've already tagged the liboqs release. But if you want to change them I don't mind retagging due to a documentation change.

[2020-06-12 16:18] christianpaquin commented on #210
Ah, I missed that. I got liboqs to compile on windows, but using Ninja (vs. VS like in the early cmake days). I'll document the full procedure on the openssl side; should be sufficient for now. I also got the s_server/s_client test to work, so this should be a simple doc fix.

[2020-06-12 21:47] dstebila commented on #210
Fixed by #211.

[2020-06-12 21:47] #210 closed, assigned to christianpaquin

[2020-06-16 06:14] baentsch commented on #201
@prchander: Usual 'close' notification after some time of inactivity on an issue. Please re-open if you see a need.

[2020-06-16 06:14] #201 closed, assigned to nobody

[2020-06-17 02:08] dstebila commented on #194
Is this done now?

[2020-06-17 14:05] xvzcf commented on #194
Not yet. It will be when https://github.com/open-quantum-safe/openssl/tree/more-sig-algs is merged into master, but that is pending a decision on what signature algorithms to enable by default.

[2020-06-18 20:11] xvzcf opened #214 "Investigate signature algorithm limitations due to bitmasks in ssl/ssl_local.h"
In [ssl/ssl_local.h](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/ssl/ssl_local.h#L207), there are #defines that assign one-hot encodings to each signature algorithm. These encodings are used in [ssl/ssl_cert_table.h](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/ssl/ssl_cert_table.h#L26), and are assigned to a uint32_t variable called "am

[2020-06-19 15:18] xvzcf commented on #121
I've done some re-writing, the new page is [here](https://github.com/open-quantum-safe/openssl/wiki/Integrating-PQC-into-TLS-1.3).

[2020-06-19 15:29] xvzcf commented on #203
Fixed by https://github.com/open-quantum-safe/openssl/pull/213

[2020-06-19 15:29] #203 closed, assigned to nobody

[2020-06-19 15:30] xvzcf commented on #194
Fixed by https://github.com/open-quantum-safe/openssl/pull/213

[2020-06-19 15:30] #194 closed, assigned to christianpaquin

[2020-06-22 05:09] baentsch commented on #121
@xvzcf Thanks very much: This is a good summary of the integration. So as far as I understand this issue, it could be closed.
One suggestion for improvement, if I may: Regarding the [KEM](https://github.com/open-quantum-safe/openssl/wiki/Integrating-PQC-into-TLS-1.3#key-exchanges) integration, would it be sensible to add reference to issue #59 to your Wiki page? Time permitting, I'd think doing #5

[2020-06-23 15:20] #121 closed, assigned to christianpaquin

[2020-06-26 19:25] kaiduanx opened #218 "Openssl fails to build with liboqs on Ubuntu 18.04"
I followed the instructions to build liboqs and openss on Ubuntu18.04.4

b43s@ASUS-B43S:~/openquantumsafe$ ls
liboqs  openssl

liboqs is installed in openssl/oqs

b43s@ASUS-B43S:~/openquantumsafe/openssl$ ls oqs
include  lib

However the build failed with above error (I only paste some part of the error)

/usr/bin/ld: final link failed: Nonrepresentable section on output
collect2: error: ld return

[2020-06-29 05:38] baentsch commented on #218
@kaiduanx Not really: I personally never saw something like this - our CI system indeed does such builds _very_ regularly on Ubuntu 18.04, this also ran OK tonight. Also my default personal build system is Ubuntu 18.04.4.

To try to close in on this, can you please share the build options used when building liboqs and openssl, respectively? Can you confirm you're running an Ubuntu 18 stock gcc 7.5

[2020-06-29 21:42] kaiduanx commented on #218
My gcc version is 7.5.0

b43s@ASUS-B43S:~/openquantumsafe/openssl$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/7/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 7.5.0-3ubuntu1~18.04' --with-bugurl=file:///usr/share/doc/gcc-7/README.Bugs --e

[2020-06-30 05:03] baentsch commented on #218
OK, then this may have to do with resource exhaustion on your machine during build. To check this as cause for this issue, what about running `make clean && make` (without `-j`) again to see whether this way everything builds OK? If it fails, please provide the full gcc command that triggered the failure(s).

[2020-06-30 18:35] christianpaquin opened #219 "Add IS_OQS_KEM and IS_OQS_SIG macros"
Some our external code used to check if a particular NID is a OQS KEX or sig by comparing its value with the respective default algs. RC2 flipped the order of sigs and KEXs in the NID list (vs. RC1) therefore breaking one of our checks. Since these values are internal to OpenSSL and 3rd party apps should not rely on their exact values, it would be useful to provide IS_OQS_KEM and IS_OQS_SIG macros

[2020-07-03 13:32] kaiduanx commented on #218
Thanks @baentsch , make clean & make work without issue at all.

[2020-07-06 04:10] baentsch commented on #218
@kaiduanx Thanks for this confirmation. I'd then suggest to close this issue. Please re-open with additional details to reproduce if the problem "comes back".

[2020-07-06 04:10] #218 closed, assigned to nobody

[2020-07-16 16:24] christianpaquin opened #223 "Add picnic_L1_full param set"
Add new picnic_L1_full param set, in addition to the existing FS and UR variants.

[2020-07-17 18:51] #223 closed, assigned to christianpaquin

[2020-07-24 11:23] baentsch opened #226 "Rename main branch"
Along the lines of https://github.com/open-quantum-safe/liboqs/issues/795 would it be an idea to also name "OQS-OpenSSL_1_1_1_stable" to "main"? Could simplify/streamline quite a few scripts.

[2020-07-24 17:06] #219 closed, assigned to christianpaquin

[2020-08-07 20:35] sunny75016 opened #228 "Please include doxygen and graphviz in the Debian/Ubuntu dependencies"
In step 0, please replace

sudo apt install cmake gcc libtool libssl-dev make ninja-build git

with

sudo apt install cmake gcc libtool libssl-dev make ninja-build git doxygen graphviz

This will avoid errors in the cmake step. Thanks.

[2020-08-07 21:05] dstebila commented on #228
If doxygen and graphviz are not present, cmake will still run (at least it does on a stock Ubuntu 18.04.2 image), however cmake will not generate the gen\_docs target for liboqs.  But this is not required to successfully build OQS-OpenSSL via the instructions we've provided.

[2020-08-13 17:11] prchander opened #229 "Sphincs Haraka through shake 256 not working"
Hello, I was trying to generate certs with Sphinics on Harka, SHA 256, and shake 256 but I have only gotten "sphincsharaka128frobust" working. I use the same notation as on the Github page ex"sphincssha256128srobust". An I using the notation wrong or is there some other problem?

[2020-08-13 17:13] prchander opened #230 "Sphincs cert generation issue"
Hello, I was trying to generate certs with Sphinics on Harka, SHA 256, and shake 256 but I have only gotten "sphincsharaka128frobust" working. I use the same notation as on the Github page ex"sphincssha256128srobust". An I using the notation wrong or is there some other problem?

[2020-08-13 17:13] #230 closed, assigned to nobody

[2020-08-13 17:55] xvzcf commented on #229
As noted in the `Authentication` section [here](https://github.com/open-quantum-safe/openssl#supported-algorithms), only `sphincsharaka128frobust` is enabled in the fork by default. In order to use the rest, you will have to run the code generation mechanism as described [here](https://github.com/open-quantum-safe/openssl/wiki/Using-liboqs-algorithms-not-in-the-fork#code-generation).

[2020-08-13 17:57] xvzcf commented on #228
Closing due to lack of activity. Feel free to reopen if any build errors persist.

[2020-08-13 17:57] #228 closed, assigned to nobody

[2020-08-15 01:11] kaiduanx opened #232 "get IP address of client socket"
I want to get the IP address of the client on SSL server with the following code,

            int sock;
            sock = SSL_get_fd(s); // s is a type of SSL, sock returns right value
            struct sockaddr_in peer;
            socklen_t peer_len = sizeof(peer);
            int ret = getpeername(sock, (struct sockaddr *) &peer, &peer_len);

Here ret is 0, but peer address is

(gdb) print p

[2020-08-15 18:15] dstebila commented on #232
Nope, not something we have experience with. Maybe check some generic Unix networking programming guides.

[2020-08-15 18:15] #232 closed, assigned to nobody

[2020-08-16 20:17] prchander commented on #229
Hello, thanks for your reply. I followed the steps on the website and got the algorithms to generate the keys but I am still facing a couple of issues. The first issue is that "rainbowVccylic" still does not work and the second issue is that I am not able to get the certificate signing requests for a lot of the algorithms. I use the commands provided in the openssl website " apps/openssl req -new

[2020-08-20 04:20] baentsch opened #233 "Collect input to discuss/ease upstream uptake"
The goal of this fork is to eventually enable/ease QSC uptake into OpenSSL. This issue should serve as a focus/collection point for "challenge areas" we see in the design/APIs/data structures, e.g., along the lines of issues #59 or #214 that we may want to bring up with upstream maintainers.

[2020-08-21 15:53] xvzcf commented on #229
`rainbowVccylic` is a typo in our README, it should be `rainbowVccyclic`. I'll fix that shortly.

As for the other set of errors, how was the CA certificate generated? What algorithms did you specify for `req` and `x509`?

[2020-08-22 10:42] pqfan opened #235 "sidhp751 causes openvpn crashes - possibly due to oqs-openssl"
Greetings,

Since a while ago, I would like to report that oqs-openssl seems to crash when sidhp751 is used as KEM. This occurs when you use the Microsoft's PQCrypto-VPN built with liboqs and openssl-oqs latest releases (after cross-compiling for windows aswell - the crash happens in the linux built as I have observed)

[2020-08-24 19:22] prchander commented on #229
Hello, sorry for the late reply and thank you for the typo fix. Here is how I generated the CA keys
"apps/openssl req -x509 -new -newkey rainbowVcclassic -keyout key_CA.key -out key_CA.crt -nodes -subj "/CN=oqstest CA" -days 365 -config apps/openssl.cnf"

[2020-08-25 14:44] christianpaquin commented on #235
@pqfan, could you provide some repro information? Which version (commit) did you sync with? What build steps did you do? Which platform versions are you using? Thanks!

[2020-08-25 15:14] pqfan commented on #235
@christianpaquin This started to occur since liboqs 0.3.0 and openssl-oqs of that according version if I remember well. There is already a release of the PQCrypto-VPN where you can test this and possibly detect the same error as me (except the case my error is hardware related or something) from [here](https://github.com/microsoft/pqcrypto-vpn) or can be reviewed directly from [Microsoft's OpenVPN

[2020-08-25 15:43] christianpaquin commented on #235
sidhp751 passes in our openssl tests. This could be an issue that only surfaces in OpenVPN; I suggest you open an issue [there](https://github.com/microsoft/PQCrypto-VPN) instead.

[2020-08-25 18:52] pqfan commented on #235
I thought that the failure could be due to some openssl crash, but maybe you are right since tests are checked on compile/build time e.t.c.
Will check with PQCrypto-VPN then, some implementation failure or openvpn protocol mismatch and so...
Closing this issue, thanks again.

[2020-08-25 18:52] #235 closed, assigned to nobody

[2020-08-31 20:41] christianpaquin opened #236 "Add CI tests on Windows"
Add CI tests on Windows

[2020-09-09 00:53] dstebila commented on #229
@xvzcf any progress?

[2020-09-09 13:21] xvzcf commented on #229
Sorry for the delay in getting back to you @prchander, but I'm unable to reproduce this issue with the commands you gave.

Could you perhaps provide a Dockerfile in which the issue can be reproduced?

[2020-09-17 15:16] crest42 opened #238 "MAX_CURVELIST too small"
Hi,

first, thank you all for the amazing work. While building up a freeradiusd with the 1.1.1 branch of this fork, i encountered a problem when using rather long curves_list. It turns out the maximum amount of curves in a list is defined in ssl/t1_lib.c as:

`# define MAX_CURVELIST   OSSL_NELEM(nid_list)`

`nid_list` only includes ecdc curves, while the pq algos and hybrid implementations are def

[2020-09-17 16:13] christianpaquin commented on #238
Yes, please send a PR, it will trigger our tests and make it easier to review the fix. Thanks!

[2020-09-22 14:56] #238 closed, assigned to nobody

[2020-09-22 16:55] christianpaquin opened #240 "Update to 1.1.1h"
Pull latest [1.1.1h](https://github.com/openssl/openssl/tree/OpenSSL_1_1_1h) tag from upstream.

[2020-09-29 20:59] romen commented on #59
https://github.com/openssl/openssl/pull/13018 is extending the work done in changes recently merged for OpenSSL 3.0:
- https://github.com/openssl/openssl/pull/12750 added support for KEM at the `EVP` layer, backed by implementations provided by internal or external OpenSSL Providers
- https://github.com/openssl/openssl/pull/11914 allowed OpenSSL Providers to "plug in" groups (even custom ones) to

[2020-09-29 21:01] romen commented on #233
I think this issue might also benefit from including the same update I posted on #59 :

[2020-10-01 18:01] baentsch commented on #233
@romen Thanks very much for your work, the PR and involving all of us: If I see it right acceptance of [PR#13018](https://github.com/openssl/openssl/pull/13018) would go a very long way of resolving our issue here -- certainly when OpenSSL 3.x fully replaces OpenSSL 1.1.1. Thus, fully supporting the positive voices from @dstebila and @christianpaquin already voiced in the OpenSSL discussion or the

[2020-10-07 15:36] dstebila commented on #240
Fixed by #242.

[2020-10-07 15:36] #240 closed, assigned to christianpaquin

[2020-10-07 15:37] dstebila commented on #59
Closing this in OQS-OpenSSL since it looks like this will be available to us once we move to OpenSSL 3.0.

[2020-10-07 15:37] #59 closed, assigned to nobody

[2020-10-07 15:40] dstebila opened #243 "Start migrating to OpenSSL 3.0"
New APIs that we'll be able to make use of, including an EVP API for KEMs and forthcoming pluggable KEMs in TLS 1.3 (#233, https://github.com/openssl/openssl/pull/13018).

[2020-10-07 15:40] dstebila commented on #233
Closing this issue and cross referencing in a new task to follow OpenSSL 3.0 development

[2020-10-07 15:40] #233 closed, assigned to nobody

[2020-10-07 20:20] xvzcf commented on #229
Closing due to lack of activity. Feel free to reopen if the issue persists.

[2020-10-07 20:20] #229 closed, assigned to nobody

[2020-10-08 22:18] xvzcf commented on #236
Just noting down so I don't forget: The project already has an `appveyor.yml` that runs a bunch of Windows tests. These tests don't work in our fork, and we have to figure out why.

[2020-10-09 20:33] christianpaquin commented on #236
Yes, because our fork as a bunch of OQS stuff that doesn't compile. My strategy in PR #237 was to keep the original appveyor config as close to the original as possible, adding the OQS build, and our PQ tests, keeping the other tests as well.

[2020-10-16 01:32] dstebila opened #245 "Update hybrid public key / ciphertext format"
Length fields need to be removed as per https://tools.ietf.org/html/draft-ietf-tls-hybrid-design-01.

[2020-10-17 23:47] prchander opened #246 "openssl rsa noout"
I need to remove the dots that are printed when generating RSA keys. where should I use the -noout command in the command below?
apps/openssl genpkey -algorithm rsa -out /home/pi/openssl/CA-project/csr/key_srv.key -noout -pkeyopt rsa_keygen_bits:2048

[2020-10-18 05:18] baentsch commented on #246
Hmm -- generating classic crypto keys (RSA in this case) is not code that OQS changed; thus, this is a question for upstream OpenSSL.

[2020-10-23 04:59] baentsch commented on #246
@prchander Is there an update from your side as to why you think this is an OQS issue? We'll otherwise close this.

[2020-10-23 06:51] prchander commented on #246
@baentsch I reached out to upstream OpenSSL and it looks like the dots and pluses cannot be hidden. I do not think it is an issue but it would be very nice to have an option to remove them to get accurate results of key and signature generation.

[2020-10-23 07:10] baentsch commented on #246
@prchander Do you think these outputs materially change the accuracy of keygen? I can't really imagine -- and that's probably the reason why the openssl team also leaves this in. So we also close this here -- also as we don't want to modify "classic" crypto code in our project.

[2020-10-23 07:10] #246 closed, assigned to nobody

[2020-10-28 13:50] baentsch commented on #214
@xvzcf Looking into a few "past" issues I wonder what would speak against changing `amask` to a `uint64_t`? If I'm not mistaken after the round 3 downselect we have 37 (OQS-)sig (incl. hybrid) combinations and this "upgrade" would give us ample room. I changed what I think is required in branch "mb-issue214" but for some reason can't create a draft PR... So maybe you can "manually" compare to chec

[2020-10-28 14:16] dstebila commented on #226
Not doing this.

[2020-10-28 14:16] #226 closed, assigned to nobody

[2020-10-30 21:19] Septien opened #250 "Integrating with MQTT mosquitto"
Hello,
I want to integrate this fork of OpenSSL into the MQTT broker mosquitto. I already compiled both, and it works fine with the classical ciphers, as expected. Now I would like to use one of the PQ KEM in the handshake process. The MQTT client APIs that use OpenSSL (Paho, mosquitto) only allow to specified the ciphers to use (e.g., ECDHE-ECDSA-AES128-SHA), but give no option for _groups_ or _c

[2020-10-31 06:23] baentsch commented on #250
@Septien Thanks for your interest to use our work to enhance mosquitto with PQ-TLS support. If mosquitto does not provide a mechanism to configure curves it probably has not been developed with TLS 1.3 mechanisms in mind which is the basis for OQS-openssl. Most notably, the [groups/curves](https://www.openssl.org/docs/manmaster/man3/SSL_CTX_set1_curves.html) mechanism is used by our implementation

[2020-11-02 17:51] #214 closed, assigned to xvzcf

[2020-11-02 19:11] Septien commented on #250
Thanks a lot; I will see what I can do. I will check the API you provided and see how I can extend mosquitto to support PQ-TLS. If I have further questions, can I ask them here?

[2020-11-04 20:04] frankimhof opened #253 "no documentation for "it might still be possible to use it in the fork through either one of two ways""
## Description
I wanted to know how to use supported algorithms (mc_eliece for example) that are not listed.
You write on the main page, that "it might still be possible to use it in the fork through [**either one of two ways**](https://github.com/open-quantum-safe/openssl/wiki/Using-liboqs-algorithms-that-are-not-in-the-forks
)", but the link leads to an empty page.

Thanks in advance.

[2020-11-04 20:11] xvzcf commented on #253
The link is [here](https://github.com/open-quantum-safe/openssl/wiki/Using-liboqs-algorithms-not-in-the-fork). It seems there's a slight typo in the README.

[2020-11-04 21:32] frankimhof commented on #253
Perfect, thank you

[2020-11-04 21:32] #253 closed, assigned to nobody

[2020-11-05 22:14] mouse07410 opened #254 "Current OQS-OpenSSL_1_1_1-stable branch fails tests on Mac"
MacOS Catalina 10.15.7, Xcode-12.1. Branch `OQS-OpenSSL_1_1_1-stable`.

Most of the test fail:
[code]

Configuration:
[code]

[2020-11-13 19:43] dstebila commented on #254
We haven't been running OpenSSL's `make test` on macOS.  Are you able to investigate to find more details on the failures?  One question we had was whether the failures occur when building with static libraries versus shared libraries?

[2020-11-13 21:01] mouse07410 commented on #254
I certainly can and will - especially if you offer a guiding hand, telling what to look for, and where.

I've just built `oqs-openssl` with shared libraries, and am observing the same kind and quantity of errors.

I must add that while I'm not building the "stock" OpenSSL-1.1.1 (switched to master long time ago), all the tests of OpenSSL_1_1_1-stable and OpenSL-3.0 always pass (and if one doesn't

[2020-11-14 08:27] baentsch commented on #254
Thanks for this offer, @mouse07410 . So here'd be my take for starters:

Not having a Mac makes this a bit challenging on my side: Are there some logs somewhere showing more output than "Dubious"?

Another question --as we have last sync'd OQS-openssl with 1.1.1h: Could you please check/validate that a "stock" 1.1.1h passes `make test` on your Mac and that the configuration options between that an

[2020-11-15 02:45] mouse07410 commented on #254
That's where I come into the picture. I have a Mac, and will run whatever tests are necessary.

I believe so. Need to dig a little, and maybe ask for help from the OpenSSL gurus. I'll get it and provide the details.

Here's my configuration for `OQS-OpenSSL_1_1_1`:
[code]
Needless to say, I can't replicate it exactly on the stock `OpenSSL_1_1_1h` because of the small issue of the default OQS group

[2020-11-15 03:22] mouse07410 commented on #254
OK. Tried to run one test requesting more details, and got a confusing report - it seems that despite being configured with `no-shared`, the tests look for `@rpath/liboqs.0.dylib`:
[code]

Config data:
[code]

liboqs seems to exist only in shared form (`liboqs.dylib` on Mac), as when I built it I set `-DBUILD_SHARED_LIBS=ON`.

### Update

**After re-building `liboqs` with `-DBUILD_SHARED_LIBS=OFF`

[2020-11-15 06:28] baentsch commented on #254
@mouse07410 Thanks for the diligence and tracing down the issue. If I get it right this is now no longer an OQS-OpenSSL issue (tests pass in static build) but rather one for upstream (13413 for shared build)?!?

The OQS algorithms are strictly speaking no (classical) ciphers. That's why we chose to "encode" them as groups (or curves, following the EC terminology -- which admittedly may be a confus

[2020-11-15 16:45] mouse07410 commented on #254
I'm not 100% certain yet - but it surely leans that way.

Understood, thanks. My concern is this: the main reason for using this OpenSSL fork is employment of PQ algorithms - however I haven't figured how to tell what algorithms the compiled binary supports. Could you help here, please?

[2020-11-15 17:04] baentsch commented on #254
OK - I'll then consider this dealt with for the time being. Please close the issue if/when you're sure.

One trick is to call `openssl speed test` (any non-existent algorithm name will do) and all groups that have been configured in are output.

[2020-11-20 19:48] crest42 opened #256 "set_curves_list fails with more than one entry"
Hi everyone,

It seems, that the NTRU-Prime PR (#251 ) broke the implementation for me. After applying 094324c14 OpenSSL fails when setting the curve list. It works when only one entry is defined and breaks as soon as a second entry is added. Example:
[code]

After a little bit of debugging it seems that the problem is the duplicate check in tls1_set_groups in ssl/t1_lib.c.

Before 094324c14 the f

[2020-11-24 15:05] dstebila opened #258 "Add HQC round 3"
https://github.com/open-quantum-safe/liboqs/pull/851

[2020-11-25 14:52] #258 closed, assigned to nobody

[2020-11-26 05:52] mouse07410 commented on #254
Let me close this, for now at least. It's tracked upstream, as the problem does seem to belong to the OpenSSL proper.

[2020-11-26 05:52] #254 closed, assigned to nobody

[2020-11-26 18:05] mouse07410 opened #260 "Current master fails to compile with the current liboqs"
MacOS Catalina 10.15.7, Xcode-12.2, current master of this repo, and of `liboqs`.

Problem:
[code]

OpenSSL config:
[code]

`liboqs` config:
[code]

All the `liboqs` tests pass, except for 8 skipped: `381 passed, 8 skipped in 204.52s (0:03:24)`

If it matters, doing in `liboqs` directory after successful build/test/install:
[code]

[2020-11-26 18:15] dstebila commented on #260
Are you sure you're using the most recent liboqs?  HQC algorithm identifiers changed when https://github.com/open-quantum-safe/liboqs/pull/851, so there should not be any occurrences of HQC-256-1-CCA2 in the liboqs source code anymore.

[2020-11-26 19:00] mouse07410 commented on #260
[code]

[2020-11-26 19:02] dstebila commented on #260
We [renamed master to main](https://github.com/open-quantum-safe/liboqs/issues/795), in liboqs do `git checkout main`.

[2020-11-26 20:02] mouse07410 commented on #260
Oh... Thanks.

Yes, `main` branch seems to behave much better:
[code]

[2020-11-26 20:02] #260 closed, assigned to nobody

[2020-11-27 16:23] pqfan opened #261 "How to set the new algorithms when building on Windows 10"
Does nmake generate_crypto_objects work well when working on Windows 10? Or what is the other building alternative?

Thank you!

[2020-11-27 20:06] #256 closed, assigned to nobody

[2020-11-29 13:51] baentsch commented on #261
I personally never executed this under Win10. Do you encounter problems with it there? If unsurmountable ones, what about building in an Ubuntu VM (using e.g. VirtualBox)?

[2020-11-29 13:56] pqfan commented on #261
Michael,
Yes that is the best option. First I built liboqs & openssl-oqs on Ubuntu @ Virtualbox, then set the all the needed algorithms and ran the commands listed at the documentation of using additional algorithms than the default ones, and then by just downloading the directory to Windows 10 and re-built again with perl Configure and nmake e.t.c.
And now I have openssl 1.1.1h OQS with additiona

[2020-12-01 08:52] pqfan commented on #261
A quick report:
Rainbow Vc Cyclic/Classic, Classic Mc-Eliece and sidhp751 seem not to work on Windows. (Especially Classic - McEliece is not working on both Linux/Win builds)

[2020-12-01 09:05] baentsch commented on #261
Could you please be more specific? What exactly is not working? Steps to reproduce (for starters in Linux)?

[2020-12-01 09:11] pqfan commented on #261
Michael,
All seem to can be built normally, but, sidhp751 provides a segmentation - memory fault when launched on Windows 10 as client (with Ubuntu as Server) but works normally on Linux - Linux tunnels.
(I use OQS for tunnel - testing purposes based on Microsoft's PQCrypto-VPN)

Classic - McEliece is already known not to function as a tunnel KEM prior an according alteration to the OpenSSL and/or

[2020-12-01 09:39] baentsch commented on #261
I'm still not sure I can follow: Can you reproduce the problem using only OQS-OpenSSL or does this only happen when using OpenVPN?

[2020-12-01 10:20] pqfan commented on #261
Michael,
They seem to be OpenVPN only-occuring issues, since all liboqs and oqs-openssl tests are passed on build.

[2020-12-01 11:58] baentsch commented on #261
Wouldn't it be better then to raise an issue with the OQS-OpenVPN team/git and close this topic here? Sorry that I don't have enough experience with OpenVPN than to suggest that... @christianpaquin : Do you have another suggestion?

[2020-12-01 12:43] pqfan commented on #261
Michael,
You are right, will stick to them and check further!
Thank you all for your great work.

Best regards

[2020-12-01 12:43] #261 closed, assigned to nobody

[2020-12-02 14:40] christianpaquin commented on #261
Indeed, an issue should be created on the OpenVPN project.

[2020-12-08 15:08] christianpaquin opened #262 "Integrate 1.1.1i release"
Integrate the [1.1.1i](https://github.com/openssl/openssl/tree/OpenSSL_1_1_1i) release.

[2020-12-08 15:16] jhfeng opened #263 "creating a new stable release snapshot ?"
Will you create another stable release snapshot before merging in 1.1.1i?
last snapshot was on Aug 11, a while ago.

[2020-12-08 15:27] dstebila commented on #263
Would it be useful to you?

[2020-12-08 16:21] jhfeng commented on #263
Hi Doug, it is. I think regular release tag is very useful.

It's good to use tested stable code, and at meantime having some critical update. for example, integrating with 1.1.1h last time which has some CVE fixes. In order to having 1.1.1h, I have to use latest branch right now.

[2020-12-08 16:54] christianpaquin commented on #263
Since our fork is experimental, I don't see an urgent need to echo the releases of our upstream projects. The inclusion of 1.1.1i is part of our ongoing effort to make sure our next PQ-relevant release is as up-to-date as possible.

[2020-12-08 17:00] jhfeng commented on #263
agreed, not for 1.1.1i
i'm talking about 1.1.1h which is NOT in last release aug snapshot.

should we have a snapshot which includes 1.1.1h ?

[2020-12-08 17:46] dstebila commented on #263
We would also have to do a liboqs 0.5.0 release since the suite of supported algorithms has changed since the last liboqs release.

[2020-12-08 18:06] baentsch commented on #263
Is there sth missing for a 0.5.0 liboqs release? Might this be a worth-while YE goal?

[2020-12-08 18:07] jhfeng commented on #263
yes.

[2020-12-09 15:45] #262 closed, assigned to christianpaquin

[2020-12-09 20:44] dstebila commented on #263
We talked about this in our status meeting today and the consensus was that now is not the right time for a liboqs 0.5.0 release, since we have some but not all Round 3 implementations in right now.  As a result that would also mean not tagging an OpenSSL release now.

Our continuous integration tests for liboqs trigger OpenSSL builds as well, so if the goal is to have a known liboqs/OpenSSL pair

[2020-12-09 20:59] jhfeng commented on #263
thanks for update.

[2020-12-16 00:06] #263 closed, assigned to nobody

[2021-01-04 06:39] baentsch commented on #243
Initial functional integration of all NIST PQC KEM candidates available in https://github.com/open-quantum-safe/openssl/tree/OQS-OpenSSL3; with tip of the hat to @romen for https://github.com/openssl/openssl/pull/13018 : All new KEM APIs worked perfectly. Status and limitations of this WIP documented in [README](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL3/README.md); suggested T

[2021-01-04 10:41] baentsch commented on #243
One could argue to close the issue as we have started the migration :-) Question(s) open to discussion (creation of other issues or maintaining this issue for documentation/decision-making purposes?):

How do we want to continue after this start? Below's a first list of options. @christianpaquin ,  @xvzcf , @dstebila Please edit/amend/comment as you see fit.

1) Add CI
2) ~~Add OQS-test suite~~
3)

[2021-01-05 10:02] baentsch commented on #243
8) Extract new provider code from openssl entirely, i.e., create stand-alone OQS-Provider build environment

This should conceptually be doable, speed up build time and make code updates completely independent from upstream changes (unless APIs change there, of course). This would speak for an entirely separate OQS subproject instead of a branch. Drawback: Effort required to create a cross-platfor

[2021-01-07 14:42] mattcaswell commented on #243
I would strongly recommend that you take this step. All the provider side code should be implementable without forking OpenSSL at all. This gives you libcrypto integration for all the algorithms, as well as libssl integration for all KEMs.

AFAICT the main piece that you need an OpenSSL fork for is the libssl integration of signature algs. Am I right? This is mainly because I've simply not had the

[2021-01-07 14:59] baentsch commented on #243
Thanks very much for taking the time to give feedback. Yes, we also identified [OSSL issue 10512](https://github.com/openssl/openssl/issues/10512) as _the_ one that would be worth while resolving most urgently from "our" perspective (of adding PQC to OpenSSL with the least pain to everyone, i.e., without the need to retain/maintain an OpenSSL fork). I'd like to try to give 10512 a go, unless you t

[2021-01-07 15:07] romen commented on #243
I think such a PR would be highly desirable, but we cannot commit to hold beta1 release in case the PR is not mergeable when we reach the moment to release beta1.

At the moment beta1 does not seem too close (the list of open issues for the beta1 milestone can give some idea of the amount of work still left to do).

So I would personally commit to try and prioritize my reviews to help shape it up

[2021-01-07 15:16] mattcaswell commented on #243
Pluggable signatures is definitely going to be complex to implement. I did pluggable kex because the changes I needed to make to enable that to work weren't that much more than the changes I needed to do to make libssl provider aware for kex. The kem support that @romen implemented was simply an extension of the existing kex work.

Signatures OTOH are going to require more extensive changes. I hav

[2021-01-07 16:58] baentsch commented on #243
Thanks for your willingness to help this along! Clearly understood there are no guarantees. Your caveats scare me a bit as you know much better what's involved, but I think we'd give it a shot (or two or three)... I implemented the OQS-CMS integration so have some idea what may be "lurking" there. Also, we managed to get OQS-x509 certs working -- and extended the cert type slots (but that wasn't m

[2021-01-11 12:30] baentsch opened #268 "Enabled algorithms not properly marked"
Mirroring [this OQS-OpenSSH issue](https://github.com/open-quantum-safe/openssh/issues/83) a similar issue exists here: The asterisks as per [_"algorithms that are enabled by default are marked with an asterisk"_](https://github.com/open-quantum-safe/openssl#authentication) are not (properly) set as per https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs-template/generat

[2021-01-11 14:14] sjf-tjdg opened #269 "liboqs generation meets source code error"
[Makefile:3139: crypto/ec/oqs_meth.o] Error 1

When I tried to install liboqs and build teh fork to my openssl(version 1.1.1f), the error jumped out.
The steps is followed by ubantu parts on https://github.com/prchander/openssl#supported-algorithms.

It looks like this
crypto/ec/oqs_meth.c:222:14: error: 'OQS_SIG_alg_rainbow_I_classic' undeclared (first use in this function); did you mean 'OQS_SIG

[2021-01-11 14:27] baentsch commented on #269
Your `liboqs` and `openssl` projects do not seem to be in sync: We recently changed the Rainbow algorithm family which necessitated changes (to exactly the constants showing up above) in both repositories. Be sure to pull those over to your fork.

[2021-01-11 14:34] sjf-tjdg commented on #269
Thank you for replying. Does it mean I need to get the newest 'liboqs git' for the project, and repeat the following steps of install liboqs?

[2021-01-12 06:24] #268 closed, assigned to baentsch

[2021-01-12 06:26] baentsch commented on #269
That -- and ensure that your own oqs-openssl fork has the most recent updates from open-quantum-safe/openssl.

[2021-01-22 16:45] baentsch commented on #269
Closing after more than a week inactivity.

[2021-01-22 16:45] #269 closed, assigned to nobody

[2021-01-29 10:30] levitte commented on #243
I got interested in the OQS provider, and wanted to see how hard it would be to turn it into an external provider.
It turns out it wasn't very difficult, it was a fairly simple file extraction, adding the proper CMake files, and a new variant of the signature tests.

I have the result in a personal repository, https://github.com/levitte/tmp-oqsprov
If that is of interest, feel free to clone and do

[2021-01-29 11:20] baentsch commented on #243
Thank you very much! This also again confirms the utility of the effort @mattcaswell put into guiding us to "dis-entangle" internal APIs.

We'll probably put this into its own open-quantum-safe repo and maintain it there at latest when OpenSSL3 goes beta to immediately "PQC-enable" OSSL3: OK for you?

At first glance, I fail to see the KEM tests, though: Was there a reason to not bring those over

[2021-01-29 11:35] mattcaswell commented on #243
If it was me, I would separate the provider from your 3.0 fork. The provider is useful standalone with standard OpenSSL 3.0. It gives you full integration to the "EVP" level crypto - so users could start using OQS algorithms in their code immediately just by dropping in the OQS provider without having to have a "custom" OpenSSL. Separate to that are the additional changes you need to OpenSSL to su

[2021-01-29 11:50] romen commented on #243
@mattcaswell ninjaed me: I was writing exactly the same recommendations!

[2021-01-29 11:53] levitte commented on #243
If it were me, I'd go one step further and have the oqsprovider as a separately installable package...  that's where I was going with what I did.  Then, applications would only have to load it and use it.  I don't see why it would need to be dropped into another application's source code (I assume that's what @mattcaswell meant).

[2021-01-29 11:54] mattcaswell commented on #243
No. I meant what you said.

[2021-01-29 11:58] levitte commented on #243
Er, KEM tests?  In `test/oqs_test.c`, I see group tests and signature tests, is one of those the KEM tests?
I avoided the groups test, because it depends too heavily on an OpenSSL internal test helper, and it was simply too much of an effort to refactor that for a demo that I intended to take max half a day.

[2021-01-29 12:05] levitte commented on #243
Keys have support, at least in principle.  There are corners where we haven't quite fulfilled that yet, but provider backed are meant to be possible to use (almost) everywhere, and transparently.
(I say almost, because there are spots where we can only support legacy EVP_PKEYs)

X509 have some corners that we need to look at.

"signatures"...  I'm honestly mystified by this, because you already ha

[2021-01-29 12:11] baentsch commented on #243
Yes: That one's testing all OQS-KEMs.

ACK: `create_ssl_objects` and `create_ssl_connection` -- should be possible to create an "externalized" version. Will do that.

I know -- I already banged my head into/over those.

Yes.

[2021-01-29 12:30] baentsch commented on #243
Thanks for this rather unanimous vote, @mattcaswell @romen @levitte : We'll then move this work to an OSSL-external project. Should also make work on a provider-encoder/decoder "strictly separate" from the start.

@dstebila Would you please create an open-quantum-safe/oqs-provider repo? I'll manage it, clone https://github.com/levitte/tmp-oqsprov/ into it, add templating and KEM testing as per the

[2021-01-29 14:03] dstebila commented on #243
Done. Once there's a .circleci/config.yml I can enable the Circle CI integration as well.

[2021-01-29 14:07] levitte commented on #243
@baentsch, I ended up adding a groups test too.  It's a bit of a hack, as it requires copying stuff from the OpenSSL source, and has patches for ssltestlib.c and ssltestlib.h.  It builds, though, but doesn't test properly.

[2021-01-29 14:16] baentsch commented on #243
@levitte , much appreciated. I'll take it from there.

[2021-02-01 08:32] baentsch commented on #243
All work items as per the above complete with https://github.com/open-quantum-safe/oqs-provider/pull/1.

Further discussions regarding OQS-OpenSSL provider to occur in https://github.com/open-quantum-safe/oqs-provider/issues

[2021-02-01 08:32] #243 closed, assigned to baentsch

[2021-02-04 05:21] iamsoze opened #275 "Unable to find quantum based ciphersuite in openssl"
I have compiled [OQS-Openssl_1_1_1](https://github.com/open-quantum-safe/openssl) for Linux x86. I have followed the compilation steps as described (first liboqs and then openssl). The compilation was successful but when I run `apps/openssl ciphers` I can't see any ciphersuite with quantum algorithms.

**==> apps/openssl ciphers**

`TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_G

[2021-02-04 05:41] baentsch commented on #275
The most practical way for me to learn about the way how quantum-safe algorithms are integrated into OQS-OpenSSL was by following the [Running](https://github.com/open-quantum-safe/openssl#running) section in the readme: You can see that it is done by way of specifying the algorithms as TLS1.3 groups (`-groups` or `-curves` option) when considering the quantum-safe key exchange mechanisms (not as

[2021-02-04 06:27] iamsoze commented on #275
I have gone through the [Running](https://github.com/open-quantum-safe/openssl#running) section in the readme and also ran TLS demo on two separate machines (server & client) to acknowledge the support of quantum-safe algorithms in oqs-openssl.

I have compiled a SIP server **(Asterisk)** with oqs-openssl support enabled in it. And this server do not provide any way of specifying KEX algorithms (`

[2021-02-04 06:42] baentsch commented on #275
Indeed that is very advisable as we also have ceased to support 1.0.2 (as did the upstream).

This indeed is unfortunate but quite "usual" as groups are a reasonably new concept (TLS1.3). We also had to introduce options (for setting these) into some programs to enable KEX/KEM selection, e.g., https://github.com/curl/curl/pull/5892

Thus, I'm afraid you'd have to dig into the code of Asterisk to f

[2021-02-05 03:55] mouse07410 opened #276 "Current master out of sync with the current liboqs"
In the NIST PQC round 3, and in the current https://github.com/open-quantum-safe/liboqs, Dilithium-4 has been dropped, and replaced with Dilithium-5.

This package now fails to compile, and will keep failing until it's brought in sync withi this Dilithium change.

[2021-02-05 06:25] baentsch commented on #276
ACK. Dil*-AES variants got added, too. Working on it.

[2021-02-10 02:16] dstebila commented on #275
Closing based on @baentsch's explanation on calling `SSL_CTX_set1_curves_list`

[2021-02-10 02:16] #275 closed, assigned to nobody

[2021-02-10 06:20] baentsch commented on #276
Closed via #277

[2021-02-10 06:20] #276 closed, assigned to bhess

[2021-02-11 17:58] mouse07410 opened #279 "Enable shared OSX tests"
MacOS 10.15.7, Xcode-12.4 (probably not relevant here, but...).

Initially, I could not run tests because the make-script could not load dynamic library. *Problem with the upstream, unresolved.*

Changing the build to producing static library, the tests can run - but some are skipped with this message:
[code]

What's this "dynamic engine feature"? How do I enable it - just by removing `no-shared`

[2021-02-11 19:38] baentsch commented on #279
This is an OpenSSL question. I'd suggest using google for that. One of the first hits looks interesting: https://www.openssl.org/blog/blog/2015/10/08/engine-building-lesson-1-a-minimum-useless-engine/

The README gives you examples. It does not _mandate_ using `no-shared`. Indeed everything builds just fine shared, e.g., [as part of the curl build](https://github.com/open-quantum-safe/oqs-demos/bl

[2021-02-11 21:28] mouse07410 commented on #279
Yes. Possibly because I never built OpenSSL with `no-shared`, everything engine-related just worked for me. All the efforts were confined to the engine code itself.

Yes, it's a good one - I started from it some 4 or 5 years ago. Then I proceeded to https://github.com/engine-corner/Lesson-2-A-digest, which used to work wonderfully, but does not work since OpenSSL_1.1.1 (incompatible, requires old

[2021-02-12 06:07] baentsch commented on #279
Yes -- for all I know the engine concept is no longer really supported and replaced by the [provider concept](https://www.openssl.org/docs/manmaster/man7/provider.html).

Re-reading [the current text](https://github.com/open-quantum-safe/openssl#quickstart) starting with

had _me_ personally conclude something else: These steps are _known_ to work OK but there surely are others (simply not documen

[2021-02-14 11:35] mouse07410 commented on #279
Our conclusions differed here.

Since it's a fairly fundamental build difference - since you don't want removing `no-shared` from the example (despite "everything building just fine" that way), would you mind adding the exact above quote to the README?

I hear you. Still...

That would help, regardless of whether you agree with the above suggestions.

[2021-02-14 12:02] baentsch commented on #279
The text above is part of #280

[2021-02-14 18:35] mouse07410 commented on #279
BTW (this probably relates to the previous issue - I'll move it elsewhere if you request), can you explain this:
[code]

Clearly, `DYLD_LIBRARY_PATH` env var is set, and equally clearly, perl script invoked by `make test` does not see it.

???????

[2021-02-15 06:44] baentsch commented on #279
Hmm -- I don't see anything OQS-specific. How (different) does this test run when executed identically in a shared-build standard OpenSSL1.1.1?

[2021-02-15 21:52] mouse07410 commented on #279
@baentsch I think you're right: https://github.com/openssl/openssl/issues/13413

[2021-02-16 06:35] baentsch commented on #279
Wow -- this is a long-standing issue. It seems (the need (in testing) for) additional, dependent (shared) libraries (on all platforms) never truly emerged. We also only primarily test on Unix -- and have openssl `make test` pass for shared libs [here](https://github.com/open-quantum-safe/openssl/blob/b51232022b2127f94e97b09759d668b886592553/.circleci/config.yml#L47).

But if I read your statement

[2021-02-16 15:09] baentsch commented on #279
Closing with additional warning text (#280)

[2021-02-16 15:10] mouse07410 commented on #279
Your example
[code]

I don't think I fully understand what the above script is doing:
1. it seems to install `liboqs` binaries into the **source** dir of `oqs-openssl`?
2. it sets rpath for the `oqs-openssl` binaries to the `oqs-openssl` install directory (plus `/lib`)?

I prefer to keep the two separate (and in different dirs), as I expect other apps to use `liboqs`, so I would have a problem wit

[2021-02-16 15:43] baentsch commented on #279
Yes, for local build-and-test (possible with LD_LIBRARY_PATH -- we also don't like test-after-install: Reversing that would just be another workaround). During oqs-openssl install the liboqs-shared libs then (also) get copied to INSTALLDIR(/lib) as do the freshly built openssl+crypto libs.

That's the point: During (Linux) install, this precisely happens. I now wonder why this doesn't happen on OS

[2021-02-16 16:04] mouse07410 commented on #279
I think it does *not* happen on OSX because `liboqs.dylib` is **not** a part of the generated OpenSSL (nor `oqs-openssl`) binaries, therefore it is not copied.

A "dumb" approach for the install script would be to just "`sudo cp *.dylib $INSTALLDIR/lib/`", in which case `liboqs.dylib` would "magically" appear at the destination. But I'm pretty certain OpenSSL (and, therefore, oqs-openssl) does **n

[2021-02-16 16:20] baentsch commented on #279
Well, well; now I'm sad: I now remember looking at this: _I_ did change the unix install procedures in oqs-openssl using just this approach: https://github.com/open-quantum-safe/openssl/blob/3077f186ff48d7e686fd4b5f5ac97a6c5309f4c5/Configurations/unix-Makefile.tmpl#L785

On the positive side, we see the shortcoming at first glance: This only copies `.so` files -- easily explaining why this doesn't

[2021-02-16 16:39] mouse07410 commented on #279
I'm pretty certain the answer is "no they are not".

Sure. But I think the right way is *not* assuming that `liboqs` is built as a part of `oqs-openssl`. Thus, my first test would be that `rpath` workaround.

[2021-02-16 17:17] mouse07410 commented on #279
OK. My answer was something like this:
[code]

[2021-02-16 19:08] christianpaquin opened #281 "Integrate 1.1.1j release"
Integrate the new [1.1.1j](https://github.com/openssl/openssl/tree/OpenSSL_1_1_1j) release of OpenSSL
  * [advisory](https://www.openssl.org/news/secadv/20210216.txt)
  * [diff between 1.1.1i and 1.1.1j](https://github.com/openssl/openssl/compare/OpenSSL_1_1_1i...OpenSSL_1_1_1j)

[2021-02-17 07:25] baentsch commented on #279
OK - so the script above does proper shared oqs-openssl testing on OSX?! Cool.

So may I invite you to contribute via PR this code to fix https://github.com/open-quantum-safe/openssl/blob/9e342427ead2945c7a757e8497d3d1cb7ae6d578/.circleci/config.yml#L81-L85

?

[2021-02-17 17:06] xvzcf opened #282 "Enabling all signature algorithms by default."
In [ssl/ssl_local.h](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/ssl/ssl_local.h#L207), there are `#define`s that assign one-hot encodings to each signature algorithm. These encodings are used in [ssl/ssl_cert_table.h](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/ssl/ssl_cert_table.h#L26), and are assigned to a uint32_t variable called `

[2021-02-17 22:03] mouse07410 commented on #279
Sorry, it looks like I can't fork this repo, because I already forked the "main" OpenSSL.

It looks like my fix is comprised of these three parts (assuming LIBOQS and OQS-OPENSSL source trees have been cloned already):
1. Build and install LIBOQS_SHARED
2. Symlink the slared library `liboqs.0.dylib` to where OQS-OPENSSL will be installed
3. When configuring OQS-OPENSSL (shared), make sure the appr

[2021-02-18 06:02] baentsch commented on #279
Reopening to address the suggestions above.

[2021-02-18 10:21] baentsch commented on #282
TLDR: After checking the code I don't see a problem going beyond the possible `amask` bitcount (32) with OQS algorithms, i.e., activate all OQS-sigs. Minor caveat on clients not sending sigalgs: See below: Ideas how to trigger that welcome.

Full rationale:

Source code analysis (code review plus walk-through by debugger) of all places where `amask` is utilized (discarding/assuming as irrelevant i

[2021-02-19 07:48] baentsch opened #284 "Streamline CCI"
Pursue the same optimizations as discussed in https://github.com/open-quantum-safe/liboqs/issues/918

Proposals:
- CMS and speed testing only to be done at main merge (or in an audit branch)
- boringssl and "second" (shared/static, Linux/OSX) tests only run after manual approval (or in an audit branch)

Inviting particularly @jschanck for suggestions.

[2021-02-19 17:11] baentsch commented on #284
Suggested implementation in PR #283: Time in initial PR testing down from 1h to 12mins, the rest after test approval . Reviews/feedback welcome.

[2021-02-19 23:24] prchander commented on #282
Is this the reason why dilithium family errors out? It says the algorithm is not enabled when generate.ylm says it is true.

[2021-02-20 06:13] baentsch commented on #282
I'm not sure I understand either statement: How/why does dilithium error out? What (command?) says it's not enabled?

[2021-02-20 21:14] christianpaquin commented on #281
Started the merge. A bunch of merge conflicts to resolve manually...

[2021-02-21 18:50] prchander commented on #282
Oh I am sorry I thought these my problem was related to this. "Since the encodings are one-hot, at most 32 different signature algorithms can be encoded, and since 8 bits are already used up by OpenSSL by default, at most 24 different OQS signature algorithms can be encoded and assigned to amask at any given instant." I thought that was referring to some algorithms not being enabled. I will create

[2021-02-21 20:15] prchander opened #285 "Dilithium family not enabled."
I brought us this issue in #282 thinking it was related but I am just going to open another one.

None of the Dilithium family works for me and I have tried reinstalling liboqs and openssl. I have also checked generate.ylm and Dilithium looks to be enabled.
apps/openssl genpkey -algorithm dilithium2 -out dilithium2_srv.key
Warning: OQS algorithm 'Dilithium2' not enabled.
Error generating key
14039

[2021-02-22 06:27] baentsch commented on #285
Can I ask the exact sequence of (build) commands you executed to arrive at this? What's the contents  of `oqs/include/oqs/oqsconfig.h` (first 7 lines and the lines dealing with Dilithium)?

[2021-02-22 06:28] baentsch commented on #285
Can I ask the exact sequence of (build) commands you executed to arrive at this? What's the contents  of `oqs/include/oqs/oqsconfig.h` (first 7 lines and the lines dealing with Dilithium)?

[2021-02-22 17:29] prchander commented on #285
// SPDX-License-Identifier: MIT

#define OQS_VERSION_TEXT "0.5.0-dev"
#define OQS_COMPILE_BUILD_TARGET "x86_64-Linux-4.15.0-135-generic"
#define OQS_PORTABLE_BUILD 1

#define OQS_KEM_DEFAULT OQS_KEM_alg_frodokem_640_aes
#define OQS_SIG_DEFAULT OQS_SIG_alg_dilithium_2

#define OQS_ENABLE_SIG_DILITHIUM 1
#define OQS_ENABLE_SIG_dilithium_2 1
#define OQS_ENABLE_SIG_dilithium_2_avx2 1
#define OQS_ENABL

[2021-02-23 07:36] baentsch commented on #285
Strange - this all looks ok -- except the line `cmake -GNinja -DBUILD_SHARED_LIBS=ON..`: Why do you to this? You seem to want to run everything static. When I do all of the above (except the shared liboqs build) within docker image `openquantumsafe/ci-ubuntu-focal-x86_64`, everything builds OK and this runs fine as expected:
[code]

[2021-02-23 08:32] prchander commented on #285
@baentsch Thanks for your help. I guess I just wanted to be able to use it system wide. Removing that helped and all of Dilithium works now

[2021-02-23 11:38] #285 closed, assigned to nobody

[2021-02-23 15:06] baentsch commented on #282
After having just enabled all algs, this is the (not entirely surprising) response by a self-respecting compiler (OSX):

[code]
--> We'd need to "widen" integers beyond 64 bits, it seems. Doesn't feel right.

What'd be the rationale behind including all algs? Do we _really_ need _all_? The count of Sphincs' algs alone made me dizzy....

[2021-02-24 14:55] xvzcf commented on #282
Including all algs would mean that CI runs do test every single algorithm; right now, we manually enable and test all the algorithms before a release. It would also mean that users wouldn't have to go through the algorithm enabling process.

[2021-02-24 15:10] #279 closed, assigned to nobody

[2021-02-24 15:42] baentsch commented on #282
Do we know users that need _all_ these algs? On which platforms? Wouldn't it be a better approach to have a "representative" set of algorithms enabled (similar to what we have now) and do "the full monty" with all algs only on release? All it'd need for the latter is running `sed` over the checked-in "representative" `generate.yml` to save us any manual effort _and_ save the CO2 emitted by CCI doi

[2021-02-24 16:05] xvzcf commented on #282
Not that I'm aware of, I just see this as a secondary nice-to-have.

There's still a small chance we might not catch certain errors until release testing time, but this should be low as long as the algorithms are representative enough (which I've tried to ensure here and in OpenSSH).

When I took a shot at something like this last year, it was not well received, but we can revisit this.

[2021-02-24 17:15] baentsch commented on #282
Then I'd say we take our responsibility for the environment more serious and run _all_ algs as rarely as reasonable.

So maybe a topic for our call (@dstebila ?)

[2021-02-24 18:29] baentsch commented on #284
Closed by #283

[2021-02-24 18:29] #284 closed, assigned to nobody

[2021-02-24 18:33] christianpaquin commented on #281
Closed buggy PR #286; un-assigning myself while I'm in a crunch, to give the opportunity for someone else to jump in. I'll take this again in a week or two.

[2021-02-25 06:10] baentsch commented on #282
Agreement to leave as-is for now & extend release testing along the lines discussed above.

[2021-02-25 16:40] ibmo96 opened #289 "Issue starting NGINX using OQS certificate"
Hi,
Im trying to build liboqs for later integration into nginx, however im getting the following error when running the

` cmake -DOQS_USE_CPU_EXTENSIONS=OFF -DBUILD_SHARED_LIBS=OFF -DCMAKE_INSTALL_PREFIX=${OPENSSL_PATH}/oqs .. `

command.
![image](https://user-images.githubusercontent.com/23386187/109185596-72cd8680-7790-11eb-8544-b6efd9ff4f62.png)

Where it fails with performing the CMAKE_HAVE_L

[2021-02-25 17:07] baentsch commented on #289
"Build files have been written": Looks OK. Have you tried running `make`?

[2021-02-25 17:12] ibmo96 commented on #289
Yes, `make` and `make install` run fine. It was just a worry that it was an error that was affecting my creation of a server certificate using dilithium2. The certificate is then integrated into nginx and throws an error

`nginx: [emerg] SSL_CTX_use_PrivateKey("/home/ibra/nginx_pki/pki/server.key") failed (SSL: error:0B080074:x509 certificate routines:X509_check_private_key:key values mismatch)`

[2021-02-25 17:34] baentsch commented on #289
Did you see [our nginx sample build](https://github.com/open-quantum-safe/oqs-demos/tree/main/nginx)? Does this (not?) work for you?

[2021-02-25 17:50] ibmo96 commented on #289
Yes, this is the build i followed, although im trying to deconstruct it (aka not using Docker and just manually setting up nginx). I have followed the same configuration in the nginx.conf, however when i try to reload nginx with the new config file i recieve the following error:
`nginx: [emerg] SSL_CTX_use_PrivateKey("/home/ibra/nginx_pki/pki/server.key") failed (SSL: error:0B080074:x509 certifica

[2021-02-25 21:47] ibmo96 commented on #289
Issue has been resolved, forgot to put the new nginx binaries into /usr/sbin as well as inputing my domain name inside the certificate instead of "oqs-test CA" and "oqs-nginx"

[2021-02-25 21:47] #289 closed, assigned to nobody

[2021-03-03 06:07] #282 closed, assigned to dstebila, xvzcf, baentsch

[2021-03-09 16:48] #281 closed, assigned to baentsch

[2021-03-11 19:12] xvzcf commented on #245
Closed by https://github.com/open-quantum-safe/openssl/pull/291

[2021-03-11 19:12] #245 closed, assigned to nobody

[2021-03-14 00:21] mraavi5 opened #292 "Hybrid-Algorithm unexpected behavior"
Hi,

I was wondering about the uncertainties in key-pair generation time and certificate generation times using hybrid algorithms with OpenSSL. I generated a key-pair and a certificate using the following classical, post-quantum, and hybrid algorithms. I got the following times and I couldn’t understand the reason behind slower key-pair generation/certificate generation times using hybrid algorith

[2021-03-14 06:21] baentsch commented on #292
Hi, thanks for this report. Yes, conceptually, your argumentation is right. The question however is, how (often/with which tooling) did you do these tests/measurements? In all cases, randomness determines runtime to quite some degree... Best would be if you'd share your test code.

[2021-03-14 20:49] mraavi5 commented on #292
Hi  Baentsch,

Thank you for your response. Please take a look at the following

RSA 3072
apps/openssl genpkey -algorithm rsa -out key_srv_rsa3072.key -pkeyopt rsa_keygen_bits:3072 > /dev/null 2>&1'

P256
apps/openssl ecparam -out key_srv_secp256k1.key -name secp256k1 -genkey > /dev/null 2>&1'

Dilithium2
apps/openssl genpkey -algorithm dilithium2 -out key_srv_dilithium2.key > /dev/null 2>&1'

Hyb

[2021-03-15 13:16] baentsch commented on #292
Hmm -- isn't this a very "coarse-grained" approach? With this you pay not just process-creation (incl. library loading), but also random-number generator initialization costs at each round; particularly on a machine running other processes, this might make the actual key generation cost not really properly dominate the measurement as you want it.

What is even more problematic in my eyes though is

[2021-03-16 23:12] dstebila commented on #292
Closing based on Michael's reply. Feel free to ask follow-up questions as needed but it doesn't seem to be an issue that requires fixing.

[2021-03-16 23:12] #292 closed, assigned to nobody

[2021-03-16 23:25] mraavi5 commented on #292
Thank you for the explanation. It helped in better understanding the behavior.

I'm still curious and unsure on calling the OpenSSL APIs repeatedly avoiding all setup. It would help a lot if you can provide an example or direct me to somewhere I can find the information.

[2021-03-17 07:14] baentsch commented on #292
Have a look [here for general guidance](https://wiki.openssl.org/index.php/Libcrypto_API) and [here for keygen APIs](https://wiki.openssl.org/index.php/EVP_Key_and_Parameter_Generation)

[2021-03-20 12:32] IsTyping opened #294 "cannot generate self-signed root CA certificate"
I'm starting the TLS demmo on Ubuntu 18 with a shared library set up and these default algorithms announced: -DOQS_DEFAULT_GROUPS=\"CRYSTALS-kyber:FRODO:SABER\" .
I try to generate the self signed certificate from my openssl-1.1.1 main directory with:

`apps/openssl req -x509 -new -newkey kyber512 -keyout kyber512_CA.key -out kyber512_CA.crt -nodes -subj "/CN=oqstest CA" -days 365 -config apps/ope

[2021-03-20 16:21] baentsch commented on #294
Kyber is a KEM algorithm. When you (want to) create certificates you ought to work with [a signature algorithm](https://github.com/open-quantum-safe/openssl#authentication).

[2021-03-21 22:39] opencrypto commented on #294
It seems you were trying to use the kyber512 to sign but that was not recognized as an algorithm. Try using falcon512/falcon1024 or dilithium2/dilithium3/dilithium5.

[2021-03-21 23:08] opencrypto opened #295 "Issue when signing with new algorithms"
Hello Everybody. I am trying to use the new algorithms in our wrapper library (LibPKI) that builds on top of OpenSSL. One thing I am having difficulties is to understand how to properly use the signing functions.

Specifically, I am trying to implement a generic signing function for DER encoded data (PKI_X509_sign(der (data), md (digest algor), evp_pkey) -> signature), and although the same functi

[2021-03-22 06:35] baentsch commented on #295
Thanks for taking a closer look at this functionality (well, for actually using it :). When building this functionality we (actually, I) never considered library use of this code: If I recall correctly you encounter a limitation intentionally built into the code, namely that it only uses it's own SHA512 digest and not an externally provided one: https://github.com/open-quantum-safe/openssl/blob/f5

[2021-03-22 16:12] opencrypto commented on #295
First of all - **let me THANK YOU and the WHOLE TEAM for this project**. I think it is a very important project for the future of our security: being able to work with these new algorithms (even if for testing) it is paramount to get engineers acquainted with the technology and start understanding the deployment paradigm that fit your use-case and industry!

My use-case is quite simple in this cas

[2021-03-22 16:40] baentsch commented on #295
Thanks for the additional background.

Well, then we may have a problem: The OQSSIG algs on oqs_meth.c have been explicitly created to support CMS; Fully supporting EVP APIs never was a goal (as you may tell from us somewhat (ab)using the "EC" code base to "sneak in" QSC).

That rings a big bell: We're working in the [oqsprovider](https://github.com/open-quantum-safe/oqs-provider) subproject on a

[2021-03-22 17:21] IsTyping commented on #294
Many thanks for your quick reply! I have tried all the oqs_sig_default* authentication algorithms which, include those suggested by opencrypto but receive the same error.

After creating the ecdsa example root cert with the above error. If I try to generate the server cert I receive the error: `Algorithm ecdsa not found` or for ec:<(apps/openssl ecparam -name secp3841r1) `Algorithm ec:/dev/fd/63 n

[2021-03-22 22:30] opencrypto commented on #295
I was just trying to understand if there was an alternative I could use - the PKEY is created as usual (either key gen or load from a file) - there are just missing callbacks that, if implemented, I think should do the trick.

For that, I created a separate oqs/ and a composite/ directories where to implement the EVP_PKEY_METHOD and EVP_PKEY_ASN1_METHOD - so far it seems it works ok and opens the

[2021-03-23 05:44] baentsch commented on #295
I'm not sure I understand: Are you proposing one OID for _any_ algorithm combination? Wouldn't this permit creation of X.509 data (and files) that become completely unintelligible (different files with the same OID containing completely different key types)?

I'm not sure what benefit this would bring. At least for KEMs this would probably also go beyond https://tools.ietf.org/html/draft-ietf-tls-

[2021-03-23 05:51] baentsch commented on #294
This now begins to look like a setup/configuration problem. Would you please try the same commands in our pre-created docker image and let us know whether the same happens there?

Example execution:
[code]

If everything works there, there's probably a shared library mixup in your local setup. You may want to set `LD_LIBRARY_PATH` explicitly as well as check libs used by `ldd`ing the executables a

[2021-03-23 14:11] opencrypto commented on #295
For the OIDs - using one OID makes the generation and handling of the "composite" container quite easy from the development point of view. For the unintelligibly, I do not share your view. The "primary" OID will be the composite one and the different components offer the rest of the structure for the key where each elements in the SEQUENCE of subjectPublicKeyInfo has its own OIDs and parameters.

[2021-03-23 14:18] dstebila commented on #295
There's been some discussion on the [IETF LAMPS mailing list](https://mailarchive.ietf.org/arch/browse/spasm/) about how to represent composite signatures in X.509, including an [Internet Draft by Mike Ounsworth](https://datatracker.ietf.org/doc/html/draft-ounsworth-pq-composite-sigs-04).  We haven't fully adopted this yet but probably will -- I'm currently talking with Mike about some of these is

[2021-03-23 15:13] opencrypto commented on #295
Yes - that is exactly our work (I was the original proponent and Mike is my co-author). Mike (and Datatrust) introduced the option of having individual OIDs, however that seemed impractical to me and quite restrictive when it comes to provide PKI architects with flexible tools.

We had an interim meeting with LAMPS chairs, Mike and few other folks to present the new results that really make multi-

[2021-03-23 15:20] IsTyping commented on #294
The docker image starts just fine and runs as your example. I get connection refused when I try to query the server with `curl --curves kyber512 https://localhost:4433`, this may be my nginx config.

I have updated `LD_LIBRARY_PATH` and confirmed it has been updated with echo '$LD_LIBRARY PATH'. When I try to generate the self CA cert I get the following error:
'error while loading shared librarie

[2021-03-23 15:29] baentsch commented on #295
OK, then I get it: One OID to announce a "composite" structure and then all piece parts following with their own ids (OIDs?). Without the latter I wouldn't have understood how to parse composite sigs. Thanks @dstebila for the pointer to https://datatracker.ietf.org/doc/html/draft-ounsworth-pq-composite-sigs-04

[2021-03-23 15:39] baentsch commented on #294
This then indeed seems to be a shared lib location problem pretty much independent of OQS: Either all libs need to be in a system location (happens with `make install`) or be locally configured or specified. If you don't want to run `make install` to move the shared openssl&liboqs libs in place (dangerous as it may mess with your system OpenSSL) you need to either pass `LDFLAGS` [or RPATHS](https:

[2021-03-23 17:06] dstebila commented on #295
Sorry for not realizing that, Massimiliano.

[2021-03-24 14:03] crispySafe commented on #295
Hello, I am struggling with signing too.
I hope it is OK that I ask in the issue of opencrypto.

How I have to use openssl to sign like in default openssl?

I used:
   apps/openssl dgst -sign sign_rsa.pem -out sign_rsa some.txt
That worked properly, but:
   apps/openssl dgst -sign sign_dil2.pem -out sign_dil2 some.txt
resulted in:
   Error Signing Data

(sign_dil2.pem was created without an error

[2021-03-24 14:09] bhess opened #296 "KEMs, Hybrid KEMs and code points"
While working at adding hybrid KEMs to the OSSL3 provider, I ran into a few questions about the code points used for KEMs and hybrid KEMs in TLS. I open an issue here because it also affects interop with OSSL1.1.1.

- Interop with previous-round algorithms

Looking at the google sheets, some of the algorithm names still refer to round 2 variants:
https://docs.google.com/spreadsheets/d/12YarzaNv3XQ

[2021-03-24 16:46] baentsch commented on #296
If I'm not entirely mistaken, the Google sheets are not maintained any more but `generate.yml` _is_ the documentation (right, @xvzcf ?)

That was the easiest way to assure interop at the time. Before now moving logic that's only needed in oqsprovider into oqs-openssl, I'd ask the question whether we want to have those hybrids also in the OSSL111 fork? @dstebila @christianpaquin ? If not, wouldn't

[2021-03-24 16:55] baentsch commented on #295
Thanks for reporting this, @crispySafe . As already stated above, our focus was on getting `cms` to work, not all other openssl commands related to signing (incl. `dgst`).

Before debugging/looking more deeply into what it would require to also make this command work, could you please comment on where/how you need this (and why `cms` doesn't work for you)? Thanks in advance for this background.

[2021-03-24 18:29] xvzcf commented on #296
Indeed, @bhess the new tables can be found [here (for KEMS)](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs-template/oqs-kem-info.md) and [here (for signatures)](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs-template/oqs-sig-info.md). Once we have [YAML summaries of all the algorithms in liboqs](https://github.com/open-quantum-safe/l

[2021-03-25 01:58] dstebila opened #297 "Sync with OpenSSL 1.1.1k"
To be released on Thursday; has a high severity security fix.

[2021-03-25 09:52] bhess commented on #296
Thanks @baentsch and @xvzcf.

Regarding the ECX-hybrid code points: Since this is so far only supported in OSSL3-provider, I'm adding a separate .yml file there (with the new code points only).
Regarding X448: As discussed, we don't combine it with L5, only with L3/L4.

[2021-03-25 09:52] #296 closed, assigned to nobody

[2021-03-25 14:03] dstebila commented on #297
OpenSSL 1.1.1k has been released.  Looks like [the diff between j and k](https://github.com/openssl/openssl/compare/OpenSSL_1_1_1j..OpenSSL_1_1_1k) is not very big.

[2021-03-25 20:25] crispySafe commented on #295
Thanks @baentsch for your reply and working on this project to merge OQS into openssl.
My issue was just for convenience with the usage for signing only. The usage of cms works for me too, but it is an overhead.

My interest was to generate a OQS signing key, use it for signing, and verify the signed file in an easy way.

The open issue from @opencrypto brought the possibility to report my related

[2021-03-26 02:08] #297 closed, assigned to baentsch

[2021-03-26 11:50] IsTyping commented on #294
I tried the option to locally configure libraries by doing the following:

I returned to an earlier snapshot that had openssl1.1.1 but I could not find the Configure file I need to build the fork. So I installed openssl-1.1.1j locally at /opt/openssl/openssl-1.1.1j and /opt/openssl/ssl after following https://askubuntu.com/questions/1126893/how-to-install-openssl-1-1-1-and-libssl-package  . This w

[2021-03-27 10:13] baentsch commented on #294
Again, you did not set LDFLAGS or RPATH as per my (and the OpenSSL build) suggestions above. Why? Alternatively, did you run `make install`?

One thing I don't understand is your use of ` -DQOS_ENABLE_KEM_KRYSTALS-Kyber`: Why do set this? Where did you find this constant defined? Generally, why do you explicitly enable algorithms? And why don't you explicitly enable dilithium? Or in other words, i

[2021-03-27 17:17] IsTyping commented on #294
I defined the algorithms as I read in build this would make the algorithms within available - like NTRU makes ntru_hps2048509 ect available. I did not specify dilithium as it is part of the default setting. With your feedback I have tried:
[code]
This finishes with 'make[1]: Leaving directory'/opt/openssl/openssl-1.1.1j'.
Then I try to generate the CA certificate:
[code]
OUTPUT: 'Unknown algorithm

[2021-03-27 18:10] baentsch commented on #294
If this happens:

[code]
you are not running an OQS-enabled openssl.

This is what _should_ happen:
[code]

One more test: Please check the symbols in your local openssl build (e.g. `nm apps/openssl | grep dilithium2`):
If you don't get some 170 lines back, dilithium is not configured in (or your build is simply not building OQS-OpenSSL but a stock openssl: Can you please show the `git clone` comm

[2021-03-28 17:59] IsTyping commented on #294
Yes, you are right I have got mixed up with openssl folders.
I revert to a much earlier snapshot and and follow the openssl instructions. I attach a text file with my steps.
[oqs-openssl notes.txt](https://github.com/open-quantum-safe/openssl/files/6217738/oqs-openssl.notes.txt)

after 'make -j' I encounter lots of makefile errors for test/*  ending with:
		make[1]:Leaving directory '/usr/openssl'

[2021-03-28 23:48] opencrypto commented on #295
This week-end I managed to make some progress on the last of the two issues (Composite Crypto implementation). Specifically, I created new pair of ASN1 and PKEY methods for the Composite that seem to work pretty well. Lots of work to be done, but by using the keygen functions to actually generate the combined key (from already generated/loaded/otherwise-provided keys) I can have combined key of an

[2021-03-29 05:06] baentsch commented on #294
Do those make errors provide information as to what's wrong? They are not contained in the logfile. Also, building code in system folders (`/usr`) is pretty dangerous as it requires root privileges and might mess with the system openssl installation. I'd recommend you only run `apt` commands as root and all the rest as a user (say in a folder `~/git/oqs` containing the folders `liboqs` and `openss

[2021-03-29 05:33] baentsch commented on #295
I second that: Stumbling on this again and again trying to create a proper OpenSSL(3) oqs-provider.

Also fully agreed with this assessment.

Very much looking forward to that: Thanks in advance!

[2021-03-29 09:11] IsTyping commented on #294
The errors were all Makefile : ## : failed. There was no other detail.

I have started from a clean snapshot, increased the memory allocation (as my usage graphs were up to 80% when using the 'make' command) and can now generate the self CA Cert.

Thank you for your patience with me! I have learned a lot!

[2021-03-29 09:11] #294 closed, assigned to nobody

[2021-03-29 09:51] crispySafe commented on #295
I am fine. Thanks a lot - all of you working on that project.

Me too!

[2021-03-30 02:21] Hannah336 opened #301 "How to change the supported algorithm and use self-defined algorithm"
I saw in some blogs that you can change algorithm with engine and mark the changed algorithm in RSA_mothod, DSA_method etc. If I want to change signature algorithm in this case, what should I do? What's the relation between RSA and dilithium for example?

[2021-03-30 06:08] baentsch commented on #301
Thanks for your interest in OQS-OpenSSL. Did you read [the TLS demo section in the README](https://github.com/open-quantum-safe/openssl#tls-demo)? I'm a bit uncertain, though, what you mean by "relation" between RSA and dilithium? Both can operate as signature algorithms, but obviously have pretty different cryptographic properties. Would it be helpful to point to the blog you read? If you want to

[2021-03-30 06:12] baentsch commented on #295
@dstebila Would it be sensible to keep this issue open as indeed signing presently only works using CMS, not via the generic EVP APIs? Time permitting, one (e.g., me :) could look into this -- unless of course the above-mentioned PR arrives quick which promises a more complete/generic integration (and would thus resolve this issue).

[2021-03-30 13:56] dstebila commented on #295
Sorry, I wasn't following the discussion fully. I'll reopen it and tag as future work.

[2021-03-31 06:42] opencrypto commented on #295
I Made some progress on the ASN1 front - maybe it can help you as well. Specifically, I think I got a good mechanism for encoding sequences without having to add an ASN1 primitive wrappers and keep the code quite simple - the trick seems to be building a stack of ASN1_ITEM(s), each of which hold an ASN1_STRING with the V_ASN1_SEQUENCE type (this detail is very important for not adding extra basic-

[2021-04-06 12:18] baentsch commented on #301
Closing due to inactivity. Please re-open if the issue persists (and provide further input as per the questions above).

[2021-04-06 12:18] #301 closed, assigned to nobody

[2021-04-13 11:27] mrshneaky opened #302 "Java Provider"
I'd like to implement the use of this openssl version with Java however I can't find the provider required to consume it in java. If this is already implemented I'd love to be pointed at it, if not its an extremely important library that must be built for widespread adoption.

[2021-04-13 14:02] dstebila commented on #302
We have [liboqs-java](https://github.com/open-quantum-safe/liboqs-java) which wraps the core PQ crypto functions from liboqs into Java, but we don't have a provider in the sense of the Java Cryptography Architecture.

[2021-04-13 14:02] #302 closed, assigned to nobody

[2021-04-20 04:43] #295 closed, assigned to nobody

[2021-04-27 21:07] mrshneaky commented on #302
Is there any plan to support an open source JCA provider?

[2021-04-27 21:38] christianpaquin commented on #302
What do you mean?  For our java wrapper to use a JCA provider, or to offer the wrapper as a provider? (Short answer: no plans for either, but we welcome contributions.)

[2021-04-28 01:25] mrshneaky commented on #302
Currently I'm attempting to swap the OpenSSL version used by one of the products at my company to OQS. The problem lies in a JCA provider not supporting PQC. Which means I can not use the Java Key Store, nor can I hardcode the key & certs directly onto the machine to test.

The provider doesn't seem to be the only issue however, the java.security package can not handle any PQC certs as RSA, EC and

[2021-04-28 05:57] baentsch commented on #302
@mrshneaky I have to admit I'm a bit at a loss as to why OpenSSL has dependencies on Java: Can you shed some light on this? Generally I'd assume you can switch OpenSSL as long as it's providing the same APIs (which we very much strive for with our fork). Or is it that you use Java for key management and not OpenSSL? If the latter, I'm afraid you indeed have to wait until the owner of that [not-qui

[2021-04-28 13:47] christianpaquin commented on #302
Per @baentsch's comment, I don't fully understand the Java dependency, but independently, yes, we are dependent on the crypto API of various OS and platforms for integration, including the JCA. They have to open their platforms for us to be able to integrate PQC. That's why we are only able to integrate in applications that solely depend on openssl (or boringssl, like chrome) in open-source develo

[2021-04-29 04:58] mrshneaky commented on #302
Hey all, thanks for your concerns.

The product I'm trying to integrate PQC into does indeed rely on java for key management. I'm not quite familiar with every part as they've switched between crypto implementations over the years. I was hoping to switch out the openssl versions to enable PQC but no such luck. [netty](https://github.com/netty/netty-tcnative) is what the team uses to manage openssl

[2021-04-29 06:47] baentsch commented on #302
@mrshneaky Thanks very much for the link to netty. Following it a few steps, I felt like falling into [Alice's rabbit hole](https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland), finding lots of "wondrous things", e.g., many wrappers (of Java code to native and vice versa, apparently) working around various JDK shortcomings (ALPN, etc.)....

To cut things short, is my understanding rig

[2021-04-30 05:15] mrshneaky commented on #302
I have been down the rabbit hole too! Combined with the code base provided by the product team it's tough determining the best place to perform 'OQS surgery' as I'm starting to call it.

The IP owners make it extremely difficult here, but we are definitely starting with a proof of concept. I do have control of both client and server for the app. Thanks for your offer of assistance. Where is the be

[2021-04-30 05:25] baentsch commented on #302
As this is a "demos"/POC question, what about [here](https://github.com/open-quantum-safe/oqs-demos/issues/79)?

[2021-05-03 14:08] xvzcf opened #307 "Update KEM and Signature information table once liboqs YAML docsheets are available."
Add "NIST Round" and "Specification Version" fields to https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs-template/generate-oid-nid-table.py once https://github.com/open-quantum-safe/liboqs/issues/892 is addressed.

[2021-05-10 04:49] baentsch commented on #236
Finally managed to get an [AppVeyor job through](https://ci.appveyor.com/project/dstebila/openssl/builds/39075748) to build and test liboqs and oqs-openssl; openssl tests all pass but `oqs-test/test_tls_basic.py` fails on these algs:
[code]
--> Bike seems to be "expected" as per [this](https://github.com/open-quantum-safe/liboqs/blob/1b25f45f352122d4e4c00bddac4ec5f5b649dd2b/.CMake/alg_support.cmak

[2021-05-10 15:06] christianpaquin commented on #236
No objections from me.

[2021-05-13 04:36] #236 closed, assigned to christianpaquin

[2021-05-13 04:38] baentsch commented on #307
Maybe also automate platform-specific OSSL algorithm test inclusion/exclusions from the same YAML as/when available.

[2021-05-28 04:55] baentsch opened #312 "Validate/ensure OID/NID consistency"
PR #311 raised the problem that apparently not all IDs are consistently updated/maintained along with their implementations/code. This issue to track/ensure all algorithms have OIDs/NIDs in line with their code bases (R2/R3). This issue should be resolved before a new `oqs-openssl/liboqs` release if it is not done within PR #311.

[2021-05-30 13:47] ibmo96 opened #314 "Performance of OQS algorithms in TLS"
I have setup an Nginx server running OQS-OpenSSL and with a certificate signed with dilithium2. I was running some performance tests to see the difference between a classical TLS sessions and post-quantum TLS session using the built in `s_time` client in the OQS-OpenSSL library. I connected to the server like so:

for OQS TLS session:
 ` /opt/openssl/apps/openssl s_time -connect host:port1 -curves

[2021-05-30 14:08] baentsch commented on #314
Hmm -- is it really necessary to run this within a VM rather than a local laptop? That already may cause "unexplicable" differences. Then, a `localhost` connection obviously optimizes data transport to the max, i.e., protocols with more packets get penalized less (as compared to transporting all packets over the wire): What about determining the amount of data and packets that gets transferred for

[2021-05-30 16:06] ibmo96 commented on #314
Yea so i ran a `tcpdump` /wireshark on the droplet and turns out it was recieving a lot of packets from my dorms network aswell as SSH (i guess trying to see if im still logged in to the VM and the dorms network). It was on the network interface eth1, but on eth0 nothing was going on. So wondering if i could make s_time use eth0 when recieving packets from my Nginx server, giving me a less noisy n

[2021-06-04 05:15] baentsch opened #315 "Validate claimed NIST levels"
https://github.com/open-quantum-safe/oqs-provider/issues/23 detected that one algorithm's claimed NIST level was incorrect. This was not detected earlier also because [the OpenSSL generate.yml](https://github.com/open-quantum-safe/openssl/blob/OQS-OpenSSL_1_1_1-stable/oqs-template/generate.yml) can deviate from claimed NIST levels in `liboqs`. This issue to suggest a cross-validation of generate.y

[2021-06-04 10:54] bhess commented on #315
One a bit surprising detail is that `oqs_kem_default` isn't defined in generate.yml (while oqs_sig_default is), and it is instead added with custom template code. I'm not sure if this is necessary for OSSL111. This might have to be considered in cross-validating the NIST level for the default algorithm.
In https://github.com/open-quantum-safe/oqs-provider/pull/24, the default kem is instead added

[2021-06-04 12:57] baentsch commented on #315
Interesting and true observation. I can't see a reason for this either. @xvzcf : Do you recall why this is so?

#316 indeed thus "only" checks all other algs -- and could be extended to actually generate the "[bits_]security" levels instead of just validating them -- again, of course only those in `generate.yml` -- thus apparently currently excluding `oqs_kem_default`.

[2021-06-06 01:27] xvzcf commented on #315
There isn't custom templating code for the `OQS_KEM_DEFAULT` algorithms, they're just present outside the templating system.

As for why this is so, I don't think there's a good reason, and the BoringSSL and OpenSSH v8 `generate.yml`s also list the `OQS_KEM_DEFAULT` and `OQS_SIG_DEFAULT` variants. Bringing `OQS_KEM_DEFAULT` into the templating system might have just been a TODO item I never got to

[2021-06-08 08:46] zouhuan1215 opened #317 "[question] one certificate binding to multiple signature keys"
Say I have a server that has two types of signature key: one is an `RSA` key, the other is a `post-quantum-safe (pqs)` key.
Is it possible to issue the server a certificate that bound to both the `RSA` key and `pqs` key?
Because with such certificate, a client supporting only RSA can verify the server certificate's RSA key, while a client supporting post-quantum can instead verify the server certi

[2021-06-08 10:24] baentsch commented on #317
I'd think this is mostly a question regarding standardization. See for example the discussion at #300 (and all links there). Please chime in there (and/or point to standards documents facilitating such multi-key certs if you are aware of such documents: The implementation would/should follow from there).

[2021-06-09 03:37] zouhuan1215 commented on #317
Thanks for your rely @baentsch. I've read your redirection links, and find this link---[State of Hybrid and Composite PQC in IETF Certificate Standards](https://docbox.etsi.org/Workshop/2019/201911_QSCWorkshop/TECHNICAL_TRACK/06_MIGRATION/ENTRUSTDATACARD_OUNSWORTH.pdf) particularly insightful and helpful. If there is any official document related to composite certs, I will post them in discussion

[2021-06-09 05:17] baentsch commented on #317
Discussion to be continued in #300 . New issue to be opened when implementation path is clear.

[2021-06-09 05:17] #317 closed, assigned to nobody

[2021-06-16 00:33] dstebila commented on #315
Maybe off track, but is there a need anymore for `OQS_KEM_DEFAULT` and `OQS_SIG_DEFAULT`?  When we had many more algorithms, it was a way of configuring at compile time which one of several algorithms was to be used, especially when that algorithm was not explicitly supported in our OpenSSL fork.  Now with the reduced number of algorithms and OpenSSL templating, I don't think I would create this i

[2021-06-16 04:42] baentsch commented on #315
How do we find out if anyone is using this? Personally, I also don't like the concept of having one fixed name/ID for something that _completely_ changes (code/implementation) between builds -- and thus would support removing it.

[2021-06-16 05:25] baentsch commented on #314
@ibmo96 are the issues you were pondering above still open? Anything concrete we could help with? I personally wonder whether it might not be better to do "real" testing on a dedicated network (e.g., using a cloud VPN or possibly better, comprising two notebooks with a wire between them) to arrive at "reproducible" or numbers explicable by the oqs/openssl code and no other network traffic.
@xvzcf

[2021-06-18 15:58] xvzcf commented on #314
If you want to just apply packet loss and delay rules to outgoing traffic, [this page](https://wiki.linuxfoundation.org/networking/netem#examples) might help.

[2021-06-18 18:06] erdem-cqc opened #318 "Overwriting method call through ENGINE"
Hi,
I am working on a PoC application, where we want to overwrite the keygen method calls so that, when an OQS Signature keygen method is called through `EVP_PKEY_keygen()`, our method, registered in `pmeth->keygen`, will be invoked.

I was looking for a way to overwrite the `ctx->pmeth->keygen`  value before passed to `int EVP_PKEY_keygen(EVP_PKEY_CTX *ctx, EVP_PKEY **ppkey)` method.

I can achie

[2021-06-18 18:26] erdem-cqc commented on #318
Our PoC will be invoking our engine registered methods when `apps/openssl` is used as given below
`apps/openssl genpkey -algorithm dilithium2 -engine our_engine`

[2021-06-19 06:16] baentsch commented on #318
Thanks for your interest to use OQS for your project and the description of your problem. Unfortunately, I'm not entirely sure I understand what you try to do:  Do you simply want to execute some "custom code" when keygen with a QSC algorithm is invoked? If so, why don't you do this before `EVP_keygen` is called? Or do you want to register a callback that is regularly called during (long-running)

[2021-06-19 07:26] erdem-cqc commented on #318
Thanks for your reply, as a short reply to your question, I do want to replace the existing keygen() with my callback, the actual key generation will be deferred to another application. I was planning to keep `apps/openssl` UI the same so that, users do not need to change their existing code and consume the OQS generated keys as usual.

I sort of achieved this with RSA case. Below is a segment fro

[2021-06-19 08:15] baentsch commented on #318
Thanks for the additional background. I understand more, but not yet this:

Why do you try this? Isn't the whole point of `oqs-engine` to work with a stock (non-OQS) OpenSSL? Sorry for the possibly stupid question, but I try to understand whether your problem originates with (upstream) OpenSSL (possible), `oqs-engine` (probable) or `liboqs` (unlikely). It should not have to do with `oqs-openssl`,

[2021-06-19 09:47] erdem-cqc commented on #318
The aim to use latest OQS-OpenSSL fork is to benefit from the ongoing development around quantum crypto algorithms.
After talking to you, I managed to run the oqse-engine with apps/openssl (haven't tried it up until now) as to check if the oqse-engine is being utilised when used as below
[code]
and it didn't call the method registered in the oqs-engine. I think oqs-engine is not designed or meant

[2021-06-19 09:47] #318 closed, assigned to nobody

[2021-07-01 05:28] baentsch opened #320 "Remove BIKE R2 and KEM/SIG default algs"

[2021-07-08 14:14] #312 closed, assigned to nobody

[2021-07-08 14:16] dstebila commented on #320
Fixed by #313.

[2021-07-08 14:16] #320 closed, assigned to nobody

[2021-07-09 07:55] mrshneaky opened #321 "oqs_meth.c build errors."
I'm attempting to build an RPM package for oqs-openssl to work with our team's build infrastructure. I have compiled oqs-openssl before however I'm running into some difficulty with the RPM.

The cmake step for liboqs is producing the following error:

`meth.o -c -o crypto/ec/oqs_meth.o crypto/ec/oqs_meth.c
crypto/ec/oqs_meth.c: In function 'get_oqs_alg_name':
crypto/ec/oqs_meth.c:198:14: error: '

[2021-07-09 08:59] baentsch commented on #321
Could you please clone `oqs-openssl` again: We yesterday merged #313 that removed any reference to 'OQS_SIG_alg_default'.

[2021-07-12 04:13] mrshneaky commented on #321
That worked, thank you. However when running oqs-openssl and attempting tog enerate a new dilithium2 key I get an illegal instruction error.

If possible could you advise on the files I'll need to deliver as part of my RPM package?

At present I'm including the following:
[code]

[2021-07-12 04:13] #321 closed, assigned to nobody

[2021-07-12 10:21] baentsch commented on #321
This sounds like a build problem: Are you building and executing on different machines? Quite possibly for an RPM package I guess... The same problem appears when doing docker images on an x86_64 machine with some CPU extensions that not all x86_64 machines provide (say AVX512): For this purpose we provided the build option [OQS_DIST_BUILD](https://github.com/open-quantum-safe/liboqs/wiki/Customiz

[2021-07-12 15:01] baentsch commented on #314
@ibmo96 May I ask how your thesis turned out? Is it online somewhere? Either way I assume we can close this issue (?)

[2021-07-12 15:15] ibmo96 commented on #314
@baentsch, hi sorry for the lack of communication, took a little post graduation break :D! It turned ok quite well, although that the critisicm was that this tool might not have been the most desired thing by industry right now, rather a tool can analyze an IT infrastructure and output what cryptographic algorithms are used and where (fancy). I can send you the thesis if you'd like.

[2021-07-12 15:15] #314 closed, assigned to nobody

[2021-07-13 07:07] mrshneaky commented on #321
Thanks for the handy tips, I've got it working

[2021-07-13 08:15] baentsch commented on #321
Great to hear and Thanks for letting us know. Would this be anything you feel might be worth-while for others to use, too? Maybe a contribution to `oqs-demos`?

[2021-07-13 10:50] baentsch commented on #314
Yup -- I also heard about that before. Looks like "industry" doesn't know where it put cryptography software to begin with: Buzzword "crypto agility": A nice way to say "how do we now deal with the problem that we put speed of deployment over thoroughness / understanding"? :-) If you could put a link to your thesis here, that would be great: Thanks & all the best for your next professional steps!

[2021-07-14 02:14] mrshneaky commented on #321
Yeah, I'd love to add it to oqs-demos. It's for a niche operating system however it can probably be abstracted to other OS's quite easily.  I'll clear it with my Open Source team first.

[2021-07-21 08:18] hengyongming opened #322 "Errors on running rsa3072_dilithium2's hybrid algo"
My intention is to run rsa3072_dilithium2's hybrid algorithm and see the result of the hybrid certificate and understand how it works.

However, I faced some difficulties.

![image](https://user-images.githubusercontent.com/65388283/126450984-3f19b08c-02bb-4953-8fcb-e5b339c9faa0.png)

(1) I want to ask if this is the intended result of the certificate?
(2) What is the implication of `unable to upl

[2021-07-25 14:43] ibmo96 commented on #314
Link to the thesis: https://we.tl/t-kB5ehIdV9X

[2021-07-26 15:35] dstebila commented on #314
Thanks, I've added a reference to it to https://openquantumsafe.org/research/

[2021-07-27 09:22] AndyChung1997 opened #323 "make test fails on OQS-OpenSSL_1_1_1-stable with OQS_DEFAULT_GROUPS set"
Hi, I followed the Quickstart to build OQS-OpenSSL_1_1_1-stable. When I built the OpenSSL, I got some error messages.
The following are my instructions:
[code]
There is no error in the first two instructions. But when I typed "sudo make test", I got some errors.

<img width="507" alt="123" src="https://user-images.githubusercontent.com/56081724/127129250-975b1605-aa84-4883-ad9f-fab74a443dae.PNG">

[2021-07-28 10:12] baentsch commented on #322
Sorry for the delay answering - was doing a bit of "digital detox"... :-)

Here's feedback to your questions:

Yes and no: Plain openssl doesn't know about this algorithm, so cannot load it. Try OQS-OSSL (`./apps/openssl`) and you should get an error-free output.

See above: Most likely you used a stock (non-OQS) openssl in your command.

Because such simple "appending" is how we presently have it

[2021-07-28 10:45] baentsch commented on #323
Hmm -- no, the (default) algorithms (names) look OK. Does the same error happen in your environment when you build static? What if you build dynamic without setting `OQS_DEFAULT_GROUPS` (I'm not sure we tested the test suite when setting --other-- default groups)? What exactly _are_ the errors (running `make test V=1`)?
Edit: I can reproduce now -- so Thanks for the report -- will look into it.

[2021-07-29 04:21] AndyChung1997 commented on #323
Yes, it also has the same error.

No error occurred. All tests successful.

[2021-07-30 04:56] #323 closed, assigned to baentsch

[2021-07-30 05:26] baentsch commented on #323
@AndyChung1997 please check whether the issue is also gone for you and re-open this issue if NOK. Be sure to also enable ED448 for getting all classic alg tests to pass.

[2021-07-31 05:39] baentsch commented on #307
@xvzcf Would you have time to do this? Currently this is blocking https://github.com/open-quantum-safe/oqs-demos/issues/83 -- which in turn is needed to generate a correct(ly documented) test server (which is due with the release of `liboqs v0.7.0`).

[2021-08-02 13:47] baentsch commented on #322
@hengyongming : Did the answers above provide sufficient explanation? Are you OK to close the issue?

[2021-08-03 11:54] hengyongming commented on #322
@baentsch Yep it does answer my question. Thank you so much for replying me, really appreciate it.

Just an additional question, I am wondering how the signing of the certificate works for hybrid algorithm.

My guess is that the certificate will be signed with a traditional algorithm and PQ algorithm in parallel. The signature obtained will then be appended together to form a final signature.

Is

[2021-08-03 12:33] baentsch commented on #322
Yes, you can read [this comment](https://github.com/open-quantum-safe/openssl/blob/fb4d9e3ab7d8376dc15606301e0793d574b1251c/crypto/ec/oqs_meth.c#L13-L24) and the code below implementing it. Added: Check out [pkey_oqs_digestsign](https://github.com/open-quantum-safe/openssl/blob/fb4d9e3ab7d8376dc15606301e0793d574b1251c/crypto/ec/oqs_meth.c#L1431)

[2021-08-03 14:39] xvzcf commented on #307
Would it also be worthwhile to add a "Specification Version" field?

[2021-08-03 15:44] #307 closed, assigned to xvzcf

[2021-08-03 15:47] baentsch commented on #307
Thought about it but didn't see enough of a difference to the current "Implementation Version" field.

[2021-08-04 13:52] hengyongming commented on #322
@baentsch Alright thank you so much ! I really appreciate it.

[2021-08-04 13:52] #322 closed, assigned to nobody

[2021-08-05 16:33] #315 closed, assigned to baentsch

[2021-08-18 15:32] dstebila opened #328 "Update to OpenSSL 1.1.1l when released"
Expected August 25, 2021

[2021-08-23 10:39] hengyongming opened #329 "Question on the signing process"
Hi,

I am wondering how signing takes place in oqs?

These are 2 possible ways that I came up with but I am unsure whether it is the correct idea ?

Method A

Step 1) Data m -> SHA2(m) -> PQSign(SHA2(m)) = S1

Step 2) Data m -> SHAX(m) -> RSASign(SHAX(m)) = S2, where X = 256 / 384 / 512

Method B

Step 1) Data m -> SHA2(m) -> PQSign(SHA2(m)) = S1

Step 2) SHA2(m) -> SHAX(SHA2(m)) -> RSASign(SHAX(S

[2021-08-24 17:18] friedrichsenm commented on #329
(Note, I'm not one of the OQS folks). Do you mean a signature in a certificate or as part of authentication in a TLS connection? [This part of the wiki](https://github.com/open-quantum-safe/openssl/wiki/Integrating-PQC-into-TLS-1.3) talks about how they integrated things in more detail, but it looks like if you sign things with just a straight PQ algorithm (not hybrid), there is no hashing done to

[2021-08-25 18:11] dstebila commented on #329
@friedrichsenm's explanation is right for PQ-only signing.  "Hybrid" signing, where both PQ and non-PQ (e.g., RSA) are used, takes the form of

- Data m -> PQSign(m) = s1
- Data m -> RSASign(m) = s2
- Signatures is s1 || s2

The signature algorithm itself is responsible for hashing long messages to short digests internally.

[2021-08-25 18:11] #329 closed, assigned to nobody

[2021-08-26 20:26] #328 closed, assigned to nobody

[2021-09-03 02:18] hengyongming commented on #329
@friedrichsenm @dstebila Thanks for the help! Just a follow-up question: Is the way of hybrid signing you mentioned above the SAME for both generating hybrid signature in a certificate and hybrid signing messages for authentication?  I guess so but would like to get your confirmation.

Thanks in advance!

[2021-09-03 04:33] baentsch commented on #329
It is. Code is [here](https://github.com/open-quantum-safe/openssl/blob/8c93484150cb30debce06db7289c563d97eaafdb/crypto/ec/oqs_meth.c#L1431-L1535).

[2021-09-06 08:16] chongweil907 opened #331 "TLS demo of openssl"
Hi, I am an undergraduate student trying to use the OQS OpenSSL library for my project and I have some questions that I hope you can answer me.

1. Can I seek your clarification on what kind of TLS connection is set up (what data is communicated between client and server)  in the TLS demo of the readme file?

2. Personally, I created a self-signed root server where it’s signature algorithm is Falc

[2021-09-07 10:38] baentsch commented on #331
Please see the [man page of openssl option `-www`](https://www.openssl.org/docs/man1.1.0/man1/openssl-s_server.html).

You pass a file named `dilithium2_srv.crt` as a CAfile, i.e., the server cert if I understand right what you do -- what you ought to pass is the true CA file (the corresponding falcon cert file as per your description).

Hmm -- I was tempted to simply say "Yes", but then I'm not e

[2021-09-09 06:34] chongweil907 commented on #331
Hi,

Thanks for the prompt replies. I really appreciate it.

I have several follow-up questions that I hope you don’t mind answering as I am still relatively new to this field.

Let’s say if I have a root self-signed falcon1024_CA and it signs dilithium2_srv and dilithium2_srv signs sphincsharaka128frobust_srv.  Can a dilithium2_srv sign another server ?
Eg  apps/openssl x509 -req -in sphincsharak

[2021-09-09 06:59] baentsch commented on #331
Yes, all of this is possible and I think it's up to you which CA in a chain you set (but I didn't check openssl's behaviour in such case myself). But I'm personally wary that you're playing with many variables (intermediate certs, algorithms, openssl behaviour) at the same time, so I'm not sure you'll get sufficiently "informative"/algorithm-discriminating results/numbers. Also, did you already ch

[2021-09-15 04:27] AndyChung1997 opened #332 "Demo of openssl speed test"
Recently I was testing the *openssl speed* command. I can’t understand why AES128-CBC can set `-bytes +int` option to run benchmarks on custom-sized buffer, but Bikel1 can’t set.

AES128-CBC:
![image](https://user-images.githubusercontent.com/56081724/133370419-bffa73c5-e095-42be-811b-598cb11e7f4e.png)
Bikel1:
![image](https://user-images.githubusercontent.com/56081724/133370540-88da3761-ff22-4902

[2021-09-15 04:44] baentsch commented on #332
This option is for non-PKI/"streaming" crypto components. Please run `openssl speed -help`:

And from https://www.openssl.org/docs/man1.1.1/man1/openssl-speed.html :

[2021-09-15 04:44] #332 closed, assigned to nobody

[2021-09-16 07:30] chongweil907 commented on #331
Sorry to bother you again,

I still have difficulties creating a certificate chain and using it in TLS.

To simplify things, this is the order in which the certificate chain looks like :

root_CA -> CA1 -> CA2.

I run CA2 as a server.
In order for the client to verify the certificate chain, we need to include the certificate chain file that consists of certificates in this particular order : CA1,